[2016-02-09 17:06] aikeru opened #1 "License?"
Hey, there! Could you please add a license to this repo? :) Thanks!

[2016-02-10 23:53] dougludlow commented on #1
Done.

[2016-02-10 23:53] #1 closed

[2016-02-12 06:33] project707 opened #2 "Bootstrap 3 dependency?"
I assume this is required? It isn't in the package.json

[2016-02-12 17:07] dougludlow commented on #2
@project707, it is, but perhaps it would be best to add it to peerDependencies. I don't want to lock people into a specific bootstrap package. For example, developers might want to use [bootstrap-sass](https://github.com/twbs/bootstrap-sass) over straight [bootstrap](https://github.com/twbs/bootstrap).

[2016-02-13 00:03] project707 commented on #2
Makes sense. I guess it might be worth adding some note of what it depends on and how to include/import in the readme. Closing.

[2016-02-13 00:03] #2 closed

[2016-02-14 15:48] ellern opened #3 "Add/Remove modal DOM elements to body on open/close"
My app becomes very sluggish after using it for a while. This is because it keeps modal elements in the DOM.

[2016-02-15 23:37] dougludlow commented on #3
Interesting. I'll take a look into that.

[2016-02-16 15:25] FunksMaName opened #4 "Input parameters orther than a boolean is ignored"
In modal-footer.ts, I added
` @Input('action-button-text') actionButtonText: string= "Save";`

Within the template, I added
`<button type="button" class="btn btn-info" (click)="modal.close()" [hidden]="!showDefaultButtons">{{actionButtonText}}</button>`

And Finally, within the modal itself, i added
` <modal-footer  [action-button-text]="Delete" [show-default-buttons]="true"></modal-footer>`

This

[2016-02-16 17:51] dougludlow commented on #4
@FunksMaName I added your code to [this plunk](https://plnkr.co/edit/mjkTdg?p=preview) and figured out what was going on. You need to surround the value in the `[action-button-text]` attribute with quotes, like so:

    <modal-footer [action-button-text]="'Delete'" [show-default-buttons]="true"></modal-footer>

The intent was that if you wanted to customize the modal-footer, you could simply add y

[2016-02-16 18:11] #4 closed

[2016-02-16 22:12] FunksMaName commented on #4
Wonderful, markup in the footer template is definitely the way to go. Also great to know what my issue was for when I need to work with input parameters on my project. Thanks

[2016-02-16 22:31] dougludlow commented on #4
@FunksMaName: :thumbsup:

[2016-02-17 16:22] julia-string opened #5 "Install fails"
When running `npm install ng2-bs3-modal` I get the following error.
Is there anything I'm doing wrong?
[code]

[npm-debug.log.zip](https://github.com/dougludlow/ng2-bs3-modal/files/134686/npm-debug.log.zip)

[2016-02-17 16:25] dougludlow commented on #5
I'm getting the same thing, weird. Looking into it now.

[2016-02-17 16:26] julia-string commented on #5
Ah I see, thank you!

[2016-02-17 16:37] dougludlow commented on #5
@julia-string should be good now. Give it a try and let me know how it goes.

[2016-02-17 16:43] julia-string commented on #5
You're a star! Thank you!

[2016-02-17 16:44] dougludlow commented on #5
:+1:

[2016-02-17 16:56] julia-string commented on #5
Sorry, one more thing: I get `UNMET PEER DEPENDENCY bootsrap@3.3` but I'm running on bootstrap@3.3.6.

[2016-02-17 16:59] dougludlow commented on #5
I've recently added the peer dependency and I may have botched the semver syntax. Lemme take look into that as well.

[2016-02-17 17:11] dougludlow commented on #5
Oh man... I fat fingered bootstrap... had it in there as bootsrap. Thanks for catching my mistakes! Should be good to go in v0.1.3.

Thanks again!

[2016-02-17 17:30] julia-string commented on #5
Cool! That worked now, thank you!
Sorry to be such a bugger. The import path still seems wrong, it doesn't find the correct file when using `import { MODAL_DIRECTIVES } from 'ng2-bs3-modal';` but instead returns `ng2-bs3-modal:1 Uncaught SyntaxError: Unexpected token <`. I tried different paths also.

[2016-02-17 17:46] dougludlow commented on #5
hmm... try `import { MODAL_DIRECTIVES } from "ng2-bs3-modal/dist/ng2-bs3-modal";`

[2016-02-17 17:56] julia-string commented on #5
Yeah, I tried that too, but then it throws the same error (likely a different cause), when including the directive `MODAL_DIRECTIVES`.

[2016-02-17 20:15] dougludlow commented on #5
@julia-string how are you transpiling/loading your scripts? systemjs?

[2016-02-23 20:11] rsnider19 commented on #5
I might be having the same issue as @julia-string . I have `import {MODAL_DIRECTIVES} from 'ng2-bs3-modal/dist/ng2-bs3-modal';` and am using SystemJS, but I am getting a 404 when the browser looks for `http://localhost:12345/ng2-bs3-modal/dist/ng2-bs3-modal`

[2016-02-24 18:22] dougludlow commented on #5
@rsnider19 it sounds like I need to take a better look and the npm install flow.

[2016-02-24 18:44] rsnider19 commented on #5
Thanks! In the meantime, I think I'll just add the components to my project so that I can start using them.

[2016-02-24 18:44] dougludlow commented on #5
:+1:

[2016-02-26 10:09] nhhockeyplayer commented on #5
Nice share dude... love the way you manhandled (implements) that interface deep within angular2 like a JAVA PRO. Time to step into the fast lane...   : )

[2016-02-29 19:37] Flea505 commented on #5
@dougludlow Any progress on the "SyntaxError: Unexpected token < " when using the following import... `import {MODAL_DIRECTIVES} from 'ng2-bs3-modal/dist/ng2-bs3-modal';`??

[2016-03-01 16:12] dougludlow commented on #5
@Flea505 none, yet... I'm on a family vacation right now. But I'll probably have some time to look into it this weekend.

[2016-03-04 14:10] ellern commented on #3
It most noticeable in Edge/IE and Firefox. Chrome and Safari seems to be working just fine.

[2016-03-04 15:54] fripp0971 opened #7 "escape key"
Apparently if you leave the tabindex="-1" off the div, the escape key wont close the modal automatically.

Any chance you could add an input for the modal to not close on escape which sets that tabindex?

Thanks!

Love the modal otherwise!

[2016-03-05 15:38] dougludlow commented on #5
This should be fixed now in 0.1.4. Please give it a go and let me know if you have any issues.

You'll need to change the import path to the following:

    import { MODAL_DIRECTIVES } from "ng2-bs3-modal/ng2-bs3-modal";

Also, if you're loading your scripts manually (not using something like systemjs), I've added `bundles/ng2-bs3-modal.js` which you can include directly from node_modules, if desi

[2016-03-05 15:38] #5 closed

[2016-03-05 16:18] dougludlow commented on #7
[v0.1.5](https://github.com/dougludlow/ng2-bs3-modal/releases/tag/v0.1.5) adds support for the [keyboard option](http://getbootstrap.com/javascript/#modals-options). You can now set `[keyboard]="false"`. See the following example:
[code]

Thanks to @Beardles for the submission.

[2016-03-05 16:18] #7 closed

[2016-03-05 17:11] fripp0971 commented on #7
Thanks for adding this. So I take it I was the second one to ask for this?
On Mar 5, 2016 11:18 AM, "Douglas Ludlow" <notifications@github.com> wrote:

[2016-03-05 18:07] dougludlow commented on #7
Apparently so :smile:

[2016-03-05 18:14] fripp0971 commented on #7
Works great. Thanks again.
On Mar 5, 2016 1:07 PM, "Douglas Ludlow" <notifications@github.com> wrote:

[2016-03-05 20:55] Flea505 commented on #5
Thanks! I'll give it a go on Monday.

Felicia Chavez
Tempus Nova
Cell 505 401 4415
Google Voice 505-386-0168
Felicia.chavez@tempusnova.com

[2016-03-06 00:25] dougludlow commented on #3
@ellern I took some time today trying to repro your issue. I even [wrote some tests](https://github.com/dougludlow/ng2-bs3-modal/blob/98e603c6b5daa795c42ff310a54b8fc61f544312/test/ng2-bs3-modal.spec.ts). I suspected the issue was around the fact that I'm appending the modal to the body and that it wasn't being cleaned up, but that didn't appear to be the case. Could you possibly link to a sample p

[2016-03-06 09:07] ellern commented on #3
My use case: I show a list of 20 users per page, each user has 8 different modals. Some of the modals are complex others are just simple "confirm" modals.

I did some more testing, and I was too quick on the trigger regarding Firefox, it does slow down but not as much as IE and Edge, Edge being the worst. All of the browsers will eventually render it as it should, but Edge (and IE) will get into a

[2016-03-08 14:09] samvloeberghs opened #8 "npm module is depended on SystemJs"
The direct use of the npm module as explained is depending on SystemJS.
As I'm using Webpack this seems like unexpected behaviour and somewhat unfortunate design.

Can you please share your feedback on this @dougludlow ?
I'd be happy to use this, but for now I need to reference the src folder directly.

Grtz!

[2016-03-08 14:38] dougludlow commented on #8
Sounds like you need a cjs, amd or umd version? I can add tasks that build those and place them in the bundles folder, much like how angular2 currently does.

[2016-03-08 15:41] samvloeberghs commented on #8
(imo)

Well, isn't there a more generic way? I'm comparing now with the ng2-translate module from @ocombe. With webpack I can just Import it, no hassle.

https://github.com/ocombe/ng2-translate/blob/master/ng2-translate.ts

With SystemJs, you always need something extra, but I might be biased :)

[2016-03-08 15:45] ocombe commented on #8
You can import SystemJS modules with webpack 2.
The ideal module is umd, but with typescript you can only make commonjs/systemjs/amd modules, which is why I use commonjs modules for ng2-translate, it's compatible with all build tools (systemjs, webpack, browserify, ...).

[2016-03-08 16:57] dougludlow commented on #8
Looks like typescript does support umd now:
https://github.com/Microsoft/TypeScript/issues/2036
https://github.com/Microsoft/TypeScript/wiki/Compiler-Options

I can ship umd by default and leave my systemjs bundle intact. Not sure if that will break things for existing users. I've gotta test that. Also I haven't used webpack, but I should create a demo project that uses it.

[2016-03-08 17:16] ocombe commented on #8
But I think that it means that you users have to use the last version of the typescript compiler to consume them.

[2016-03-08 18:21] dougludlow commented on #8
@ocombe I don't think it matters, it's just es5 at that point and should be responsibility of the loader to actually consume it. Typescript itself only cares about the declaration files from what I understand.

[2016-03-08 21:13] rsnider19 commented on #3
I am noticing that the modals don't get cleaned up when routing.

1. On my home page, I have 4 modals and am seeing `#modal_1` through `#modal_4`
2. Then when routing to another page with 2 modals, I am seeing `#modal_1` through `#modal_6`.
3. When navigating back home (with 2 modals), I am now seeing `#modal_1` through `#modal_10`

From what I can tell, the old modals have just the `modal` class

[2016-03-08 21:15] btrauma8 commented on #3
I think you need this:

`    ngOnDestroy() {
        this.$modal.remove();
    }
`

[2016-03-08 21:29] dougludlow commented on #3
Thanks @rsnider19, @btrauma8. I've released it as v0.1.6. Give it a go and let me know if that resolves the issue.

[2016-03-08 21:33] dougludlow commented on #3
Published it to npm.

[2016-03-09 11:07] nickhod opened #9 "404 ng2-bs3-modal/ng2-bs3-modal not found"
I'm using Angular 2 beta 8 based on the angular2-quickstart module.
ng2-bs3-modal is installed in node_modules and I'm using the import given in the documentation

`import {MODAL_DIRECTIVES} from 'ng2-bs3-modal/ng2-bs3-modal';`

The Typescript compiler can find the module however it results in a 404 with the browser trying to access http://devapp/ng2-bs3-modal/ng2-bs3-modal

Similar import directi

[2016-03-09 16:30] dougludlow commented on #9
@nickhod yes, you need to include a mapping to ng2-bs3-modal in the System.config so that SystemJS knows how to load it. Something like the following:

    System.config({
        ...
        map: {
            'ng2-bs3-modal': 'node_modules/ng2-bs3-modal'
        }
        ...
    });

Alternatively, you can include a script reference before the System.config:

    <script src="node_modules/ng2-b

[2016-03-09 16:33] rsnider19 commented on #3
works perfectly @dougludlow

[2016-03-09 16:43] dougludlow commented on #3
:thumbsup:

[2016-03-09 17:22] dougludlow commented on #3
@ellern, @btrauma8 any feedback?

[2016-03-09 17:45] ellern commented on #3
It's a lot better. But in my use case it's slowing it down because the modal is added on `ngAfterViewInit()` and not on modal open. I don't know about this, but is it possible to move the code from `ngAfterViewInit()` into `open(size?: string)`?

[2016-03-09 21:54] dougludlow commented on #3
@ellern still trying to repro this. Here's my last attempt: https://run.plnkr.co/TYeyXvPG5qjVsQFi/

You can edit the plunker here: https://plnkr.co/edit/wg2d3A?p=preview.

Any way you can make this match up to your environment?

[2016-03-09 22:01] dougludlow commented on #3
I like the idea of lazyloading the init on open. I'll create a release that does that, have you try it out.

[2016-03-09 22:03] dougludlow commented on #3
@ellern give ng2-bs3-modal@0.1.7 a try.

[2016-03-09 22:13] dougludlow commented on #9
@nickhod were you able to get it working?

I've add those details to the readme.

[2016-03-09 22:14] dougludlow commented on #8
Looks like commonjs is the most common. I'll go that route and bump the minor version.

[2016-03-09 22:14] ellern commented on #3
The only difference for my use case is that my modals are a lot more complex.

I'll give it a try

[2016-03-09 22:22] dougludlow commented on #8
@samvloeberghs as of v0.2.0, it's now uses commonjs as the module format.

[2016-03-09 22:22] #8 closed

[2016-03-09 22:25] nickhod commented on #9
Adding the script reference before System.config worked.
For whatever reason using SystemJS map didn't work (even though I'm using SystemJS), it still 404s.

[2016-03-10 16:50] dougludlow commented on #9
Here's an example of how I load it using SystemJS. The order that you load the scripts in is important:

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.min.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.6/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/tools/system.js"></script>

    <script>
        System.config

[2016-03-10 16:51] #9 closed

[2016-03-10 17:02] dougludlow commented on #3
@ellern have you had a chance to try that out?

[2016-03-10 23:11] born2net opened #10 "just wanted to say tx..."
just wanted to say tx...  really nice and clean / simple project...
I used it in https://github.com/born2net/ng2Boilerplate

Boorstrap App: @ http://ng2.javascriptninja.io

Regards,

Sean

[2016-03-10 23:11] #10 closed

[2016-03-10 23:12] dougludlow commented on #10
:thumbsup:

[2016-03-11 19:57] born2net opened #12 "programatically close the modal from the controller? supported?"
programatically close the modal from the controller? supported?

regards

Sean

[2016-03-11 20:06] born2net commented on #12
well here's on way

[code]

[2016-03-11 20:06] #12 closed

[2016-03-11 20:43] born2net opened #13 "bug: need to ignore destruction if $model does not exist"
please fix in:

[code]

[2016-03-11 21:14] dougludlow commented on #13
This should be fixed in v0.2.1. See https://github.com/dougludlow/ng2-bs3-modal/blob/master/src/ng2-bs3-modal/components/modal.ts#L49.

[2016-03-11 21:14] #13 closed

[2016-03-11 21:16] dougludlow commented on #13
Thanks to @nkalinov for the [pr](https://github.com/dougludlow/ng2-bs3-modal/pull/11).

[2016-03-11 22:25] born2net commented on #13
Great! tx!

[2016-03-14 17:00] born2net opened #14 "with ng2 beta 0.9 I get EXCEPTION: No Directive annotation found on ModalComponent"
with ng2 beta 0.9 I get EXCEPTION: No Directive annotation found on ModalComponent
works fine in 0.8
and it's odd, I am not sure why ng2 is throwing on  directive annotation missing when ModalComponent is a @Component based... mmmm did you run into this?

regards

Sean

[2016-03-14 17:01] dougludlow commented on #3
Closing. Reopen if you're still having issues.

[2016-03-14 17:01] #3 closed

[2016-03-14 20:31] ellern commented on #3
I've been busy, so have not been able to test it properly. My initial testings works a lot better than before, though I still have some performance issues, but they are probably not related to the modal.

[2016-03-15 15:34] born2net commented on #14
has anyone tried beta0.9 with modal?

[2016-03-15 15:34] dougludlow commented on #14
Sorry, I haven't had a chance to yet.

On Tue, Mar 15, 2016 at 9:34 AM JavaScriptNinja <notifications@github.com>
wrote:

[2016-03-15 15:37] born2net commented on #14
this thing really baffles me as I was looked a the ng2 change log: https://github.com/angular/angular/blob/master/CHANGELOG.md and I don't see anything that would break this in ng0.9, yet it is broken :/

[2016-03-18 15:46] born2net commented on #14
same error in ng beat .10

[2016-03-18 21:52] ninchuu opened #15 "Attempt to use a dehydrated detector: ... -> onClose"
I'm stumped on an issue where if ComponentA (route: ./componentA) opens up a modal, and the component routes you to ComponentB (route: ./componentB), I get a crash with the following log:

angular2.js?1458337616513:23597 EXCEPTION: Attempt to use a dehydrated detector: NavbarComponent_0 -> onClose

Alongside with the exception, the app is properly routed to ComponentB, but it has the black transpa

[2016-03-18 21:52] ninchuu commented on #15
I should mention I've tried closing the modal prior to the routing, but the issue still comes up.

[2016-03-18 22:00] dougludlow commented on #15
I'll take a look at it this evening.

[2016-03-18 22:01] dougludlow commented on #15
It would be helpful, if you could provide any code samples or a plunkr that replicates the issue.

[2016-03-18 22:14] ninchuu commented on #15
I've found a hacky work around where I first close the modal, then wait 500ms before routing to the next page.

Just a snippet from my side:

[code]

In a crazy time crunch at my work place right now, when I find time I'll mock up something more in-depth on plunkr.

BTW, thanks for the quick reply, really appreciate it!

[2016-03-20 12:58] marcodelgatto commented on #15
Same problem here :)

[2016-03-21 03:58] damiandennis opened #16 "angular2-2.0.0-beta.11 close dialog more than once gives error."
When opening and closing a modal more than once, throws an error of "Error: Task does not support cancellation, or is already canceled." Not sure if this is an angular2 issue or an issue here. It was working on an earlier version before the upgrade.

[2016-03-21 04:14] damiandennis commented on #16
all good zone.js issue in angular...

[2016-03-21 04:14] #16 closed

[2016-03-21 22:11] dougludlow commented on #15
Appears to be related to angular/angular#6786.

[2016-03-21 22:47] dougludlow commented on #15
I was able to reproduce the issue as a test and resolved it by using a synchronous EventEmitter.

[2016-03-21 22:49] dougludlow commented on #15
I've released it as v0.2.2. Give it a try and let me know how it goes @ninchuu, @marcodelgatto.

[2016-03-21 23:03] dougludlow commented on #14
I'm unable to repro this particular issue in beta.11, but I did see angular/angular/#7666 crop up.

[2016-03-21 23:06] dougludlow commented on #14
@born2net could you post some example code or a plunkr that repro the issue?

[2016-03-21 23:32] born2net commented on #14
I will try .11 and update on the results, regards

[2016-03-22 06:58] marcodelgatto commented on #15
Thanks for your time.
Unluckily, it still doesn’t work for me, I’ve tried both version 0.2.2 and 0.3.0.
Actually there are two seeming different issues:

Issue 1: If the user click on the gray overlay when the modal is open, the modal closes; but if he then tries to open it again this error comes up in console: “Task does not support cancellation, or is already canceled. at ZoneDelegate.cancelTask

[2016-03-22 07:40] marcodelgatto commented on #15
More precisely, I’ve found that issue #1 happens every time a user tries to reopen a modal which was previously closed, so it seems to be a more general problem.

[2016-03-22 16:11] dougludlow commented on #15
@marcodelgatto I saw the "Task does not support cancellation, or is already canceled. at ZoneDelegate.cancelTask" error crop up after using any version of angular above beta.9. There is an issue open for it here: https://github.com/angular/angular/issues/7671.

[2016-03-22 19:56] dougludlow commented on #15
@marcodelgatto I've addressed an issue where the modal wasn't closed on destroy and the overlay was left on top in v0.3.1. That should hopefully resolve your issue there. Again, I'd recommend using beta.9 until angular/angular#7671 is fixed/released.

[2016-03-22 22:39] born2net commented on #14
.11 fixed now tx

[2016-03-22 22:39] #14 closed

[2016-03-22 22:42] dougludlow commented on #14
:thumbsup:

[2016-03-23 06:57] marcodelgatto commented on #15
I will give a try in the next days and let you know. Thanks for now.

[2016-03-24 18:18] d1820 opened #17 "Getting error on modal.open(): this.$modal.appendTo(...).modal is not a function"
I took the example given on the code tab, and an getting an error

[code]

**Current Versions:**

[code]

Code is as follows

**Component:**

[code]
**View:**

[code]

Any help would be great

[2016-03-24 18:26] dougludlow commented on #17
I haven't had any luck with angular beta.11, you might try beta.9 and see if it works from there. If not, let me know, I might've missed something on my most recent release. (I rewrote a bunch of stuff)

[2016-03-25 00:11] d1820 commented on #17
rolling back to beta.9 made it work..

Thanks

[2016-03-25 00:42] d1820 opened #18 "How do you open the modal from an Angular2 EventEmitter callback?"
Having trouble determining how i would open a modal not from a click event? I see the example to close one, but i am not sure where the @ViewChild lives. Can you shed some insight on this please

My angular component click event calls a method to pass in an Id, i need too look up the details of the id on the server then show the modal...

Thanks

[2016-03-25 15:34] dougludlow commented on #18
@d1820 I've updated the docs to be a little more clear on how to show/hide a modal from a component. I've also added an example to the demo. Here's the gist of it:

[code]

Does that help at all?

[2016-03-25 15:49] dougludlow commented on #17
Odd... I've only seen the "Task does not support cancellation, or is already canceled." error on versions above beta.9. The [demo](http://dougludlow.github.io/ng2-bs3-modal/) is using beta.9 and doesn't throw that error on close. I wonder what could be different.

When you downgraded your angular version to beta.9 did you also downgrade your zone.js to 0.5.15? I think beta.12 relies on 0.6.5 and t

[2016-03-25 16:56] d1820 commented on #17
Aww yes the magical dance of version matching.. downgrading zone.js to 5.15 worked.

to close this out final versions used with this version: 0.4.2

[code]

Thanks

[2016-03-25 17:17] d1820 commented on #18
That work great thank!!

Lastly if i had two different modals available from a component would that just be

@ViewChild('myModal')
    modal: ModalComponent

@ViewChild('myModal2')
    modal2: ModalComponent

Thanks

[2016-03-25 17:20] dougludlow commented on #18
I guess to specifically address your question though, something like this should work:

[code]

[2016-03-25 17:21] dougludlow commented on #18
@d1820 yes, assuming you have set a template variable for each modal:

[code]

[2016-03-25 17:35] d1820 commented on #18
Perfect thanks for all your help..

[2016-03-25 17:35] #18 closed

[2016-03-28 21:56] ScottMGerstl opened #19 "Documentation tweak"
In your example, you document your backdrop attribute as

If you would like, and for you information, can actually specify it through normal attribute assignment

`backdrop='static'`

Feel free to do it either way, just wanted to let you know =)

[2016-03-28 22:13] dougludlow commented on #19
Thanks @ScottMGerstl. That's good to know!

[2016-03-28 22:13] #19 closed

[2016-03-28 22:16] ScottMGerstl commented on #19
no problem, @dougludlow. I just got an implementation working; it's pretty slick. Thank you for writing it!

[2016-03-28 22:17] dougludlow commented on #19
:thumbsup:

[2016-03-29 09:58] samvloeberghs opened #20 "update to beta 12"

[2016-03-29 12:07] dloukola opened #22 "fsevents"
It looks like you depend on a package "fsevents@1.0.8". Unfortunately this only is supported on MacOsX. Is this an important dependency? I'd like to try an use your project on Windows.

[2016-03-29 12:36] samvloeberghs commented on #22
got the same error!

[2016-03-29 13:10] dougludlow commented on #22
Hey @dloukola, @samvloeberghs,

`fsevents` is a dependency of karma, which I use for testing. On Windows, it typically throws a warning about an *optional* dependency (fsevents) that failed to install, however this is a warning and karma will work regardless. See https://github.com/karma-runner/karma/issues/1609.

Karma is one of the devDependencies, so you shouldn't see this error if you install

[2016-03-29 13:17] dougludlow commented on #20
When I attempted to update to beta.12 sometime last week, I got something like this error when I attempted to close the modal:

"Task does not support cancellation, or is already canceled."

This appears to be related to https://github.com/angular/angular/issues/7671. From what I understand it's actually an issue with zone.js.

Have you not experienced a similar issue?

[2016-03-29 13:22] dougludlow commented on #15
@marcodelgatto, any update on this?

@ninchuu are you still experiencing issues?

[2016-03-29 13:26] dougludlow commented on #15
Just FYI, in v0.4 I've done a bit of a rewrite on the modal internals. It should play much better with routing and cancelling. You might check that out. The max working angular version is still beta.9. Hopefully beta.13 will solve the "Task does not support cancellation, or is already canceled." issues.

[2016-03-29 13:37] marcodelgatto commented on #15
Hi @dougludlow , since I was in a hurry, I had to change component and I used ng2-modal (https://www.npmjs.com/package/ng2-modal), which is simpler than yours - since it doesn't handle the animation task - and probably just for that it circumvents the angular problem with the Task.
When I will finish the project I will try a refactor with your upgraded component.
Thank you

[2016-03-29 13:43] dougludlow commented on #15
@marcodelgatto, cool cool, glad you were able to get things running on your project. Yeah, let me know how the refactor goes when you get around to it. I'd love more feedback.

[2016-03-30 00:37] andreujuanc opened #23 "error when including in my package.json"
Hello,

Im using VS2015, and wanted to add it from npm, so adding "ng2-bs3-modal": "0.4.2" to my package.json gave the folowing error:

`npm WARN peerDependencies The peer dependency angular2@2.0.0-beta.9 included from ng2-bs3-modal will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to de

[2016-03-30 00:45] d1820 commented on #23
That means you need to add the angular.beta.9 dependency your self before you try and add this package

[2016-03-30 00:47] andreujuanc commented on #23
Im using angular beta11, do I have to downgrade?

[2016-03-30 02:39] dougludlow commented on #23
@andreujuanc unfortunately, yes. ng2-bs3-modal is not compatible with versions later than beta.9 do to a current issue: https://github.com/angular/angular/issues/7671.

Aside from using beta.9, I haven't had a chance to find a suitable workaround just yet.

[2016-03-30 03:26] dougludlow commented on #20
I guess the "Task does not support cancellation, or is already canceled." issue was solved. I'm no longer seeing it. Thanks for the pr!

[2016-03-30 03:26] #20 closed

[2016-03-30 03:26] #22 closed

[2016-03-30 04:15] dougludlow commented on #20
Releases as v0.4.3.

[2016-03-30 04:17] dougludlow commented on #15
It appears like the "Task does not support cancellation, or is already canceled." issue is fixed in angular2@beta.12.

[2016-03-30 04:17] #15 closed

[2016-03-30 04:19] dougludlow commented on #23
@andreujuanc It appears the the above issue is resolved. I just tested it and the ng2-bs3-modal appears to be compatible with beta.12. Try v0.4.3.

[2016-03-30 04:19] #23 closed

[2016-03-30 04:30] dougludlow opened #24 "Close and dismiss not firing until second time when modal is static"

[2016-03-30 11:31] shankarAtjunglee opened #25 "Unable to install "npm install --save ng2-bs3-modal""
while trying to installing i am getting this error
`32028 error Windows_NT 6.1.7601
32029 error argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "--save" "ng2-bs3-modal"
32030 error node v4.4.0
32031 error npm  v2.14.20
32032 error code EBADPLATFORM
32033 error notsup Unsupported
32033 error notsup Not compatible with

[2016-03-30 11:39] dougludlow commented on #25
@shankarAtjunglee what version of npm are you running?

[2016-03-30 11:39] shankarAtjunglee commented on #25
@dougludlow  2.14.20

[2016-03-30 11:47] dougludlow commented on #25
Ah, I've only tested with v4 and v5. From the error, fsevents is a dependency of karma, which is a dev dependency of ng2-bs3-modal, and *shouldn't* be installed. This appears to be an issue with npm.

[2016-03-30 11:49] dougludlow commented on #25
I found this issue, but it looks like it's for v3: https://github.com/npm/npm/issues/11039

[2016-03-30 12:00] dougludlow commented on #25
Found this issue as well. I shrink wrapped my packaged and it appears that npm2 is trying to install everything in the shrink wrap: https://github.com/npm/npm/issues/8707

[2016-03-30 12:03] dougludlow commented on #25
This one as well: https://github.com/npm/npm/issues/2679

[2016-03-30 12:42] dougludlow commented on #25
@shankarAtjunglee I've removed my shrinkwrap file and published a new release. Try version 0.4.4 and let me know how that goes.

[2016-03-30 12:42] #25 closed

[2016-03-30 12:48] andreujuanc commented on #23
I still cant get it. Updated to angular beta 12 without problems, added modal and got this:

[2016-03-30 12:48] slavasitnikov commented on #25
@dougludlow last version in npm is still 0.4.3

[2016-03-30 12:56] shankarAtjunglee commented on #25
@dougludlow
problem is still same. here is what i did
1. Created new Folder(test)
2. Created new Fresh package.json
3. run command "npm install --save ng2-bs3-modal"
4. still same error.
************
other details
1. OS windows7
2. Npm -v = 2.14.20
************
npm-debug.log
`32011 verbose pkgid fsevents@1.0.8
32012 verbose cwd E:\wsJs\h5\test
32013 error Windows_NT 6.1.7601
32014 error argv "C:\\

[2016-03-30 13:36] dougludlow commented on #25
Sorry, I guess I forgot to publish... :tired_face: It should be there now.

[2016-03-30 13:37] dougludlow commented on #23
This was due to me shrinkwrapping the project. Try installing v0.4.4 and let me know how it goes.

[2016-03-30 14:42] dougludlow commented on #24
Fixed with 1e9fd45.

[2016-03-30 14:42] #24 closed

[2016-03-30 15:27] andreujuanc commented on #23
I can confirm version 0.4.4 is working with angular beta 12.

Thanks mate!!

[2016-03-30 15:34] dougludlow commented on #23
:thumbsup:

[2016-03-30 15:38] dougludlow opened #26 "Is there any way to set focus for a button on your dialog after opening it?"
From Fuit Attila:
Is there any way to set focus for a button on your dialog after opening it?

[2016-03-30 15:43] dougludlow commented on #26
Let me take a look at it this evening.

One idea is to create an [attribute directive](https://angular.io/docs/ts/latest/guide/attribute-directives.html), that [OnInit](https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html#!#hooks-overview) sets focus on the element it's attached to, specifically a textbox.

[2016-04-01 12:12] okoleilat opened #27 "The second time the modal is dismissed with the keyboard or backdrop the onDismiss event is not being fired"

[2016-04-01 13:15] dougludlow commented on #27
Thanks for reporting this. Taking a look now.

[2016-04-01 14:09] okoleilat commented on #27
Actually, the onDismissed is being called always for the first action if it is a close or dismiss.

Thank you :)

[2016-04-02 19:52] dougludlow commented on #27
@okoleilat this should be fixed in v0.4.6. Try it out and let me know how it goes.

[2016-04-02 19:52] #27 closed

[2016-04-03 02:52] okoleilat commented on #27
perfect :) It is indeed fixed. Keep up the good work 👍

[2016-04-03 14:52] iherbivore opened #28 "Missing peer dependency if compiling bootstrap with sass or less"
In my project I have boostrap-sass installed as a dev dependency. Is there way to install this since I don't have the pre-built bootstrap installed?

[2016-04-04 17:41] dougludlow commented on #26
Fuit Attila: I added an "autofocus" directive that you can add to any element you want to autofocus on when the modal is opened. I've updated the documentation with an example. Feel free to checkout v0.4.7 and let me know how it goes.

[2016-04-04 17:41] #26 closed

[2016-04-04 17:48] dougludlow commented on #28
Hmm... from what I understand a missing peer dependency will throw a warning, but npm doesn't require that you fill that dependency. My npm fu isn't the greatest. I don't know of a way to tell npm that you can depend on one package or another package. That's why I listed it as a peerDependency.

[2016-04-04 17:53] dougludlow commented on #28
From [npm Weekly, #5](http://blog.npmjs.org/post/110924823920/npm-weekly-5):

[2016-04-04 18:03] dougludlow commented on #28
npm's documentation on [peerDependencies](https://docs.npmjs.com/files/package.json#peerdependencies).

[2016-04-06 04:44] nikkwong commented on #17
I'm getting this too.
[code]

[2016-04-06 04:47] nikkwong commented on #17
[code]

[2016-04-07 03:45] duinzaghi opened #29 "Add id value into modal-dialog."
I'm using your package to show modal-dialog. I want to custom width of modal-dialog. Currently we only can set width by add size value(sm or lg). Can you add id value (defined in "modal" selector) into the root div like this:
`<div` class="modal-dialog" [ngClass]="{ 'modal-sm': isSmall(), 'modal-lg': isLarge() }" id="your-custom-id">`
I think with id value we can custom style for modal-dialog easi

[2016-04-07 07:14] amaurymartiny opened #30 "Resize issue if using a custom component in modal-body"
Hello,

I'm creating on my page a modal, and in the body of it I put a custom component ```mail-template-form```
[code]

When rendered, the modal-body's div height is 0, which causes a bad display of the modal footer's buttons.
![captura de pantalla 2016-04-07 a las 09 10 46](https://cloud.githubusercontent.com/assets/1293565/14343397/e95dfc8c-fca0-11e5-9a79-8e8fd9106f1c.png)

[2016-04-07 15:18] dougludlow commented on #30
Interesting. I can probably take a look at that this evening. Can you provide the rendered markup of the mail-template-form component?

[2016-04-07 15:19] dougludlow commented on #29
@duinzaghi sure, it would probably make sense to transfer the class attribute to the modal as well. I can probably take a look into that tonight.

[2016-04-07 15:20] dougludlow commented on #17
@nikkwong what version of ng2-bs3-modal are you using?

[2016-04-07 15:41] arproudlock opened #31 "Successful integration with angular-cli project"
Apologies in advance.  This is not an issue, wasn't sure where to put this, but might be helpful for some:

**Step 1: Install**
`npm install --save ng2-bs3-modal`

**Step 2: Include in Vendor files**
Open ember-cli-build.js
include 'ng2-bs3-modal' in vendorNpmFiles array:

[code]

`Step 3: Build`
`ng build`
Check `/dist/vendor` for ng2-bs3-modal folder

**Step 4: Include Scripts and CSS in index.h

[2016-04-07 15:45] dougludlow commented on #31
:thumbsup:

Thanks @arproudlock, I've added a link from the readme to this issue for an example for angular-cli.

[2016-04-07 15:45] #31 closed

[2016-04-08 04:05] dougludlow commented on #30
@amaurymartiny the only way I was able to repro this is when I'm floating the form fields. I was able to fix that by adding the bootstrap `clearfix` class to the `modal-body`. You might try that and see if it resolves the issue.

[code]

[2016-04-08 05:52] #29 closed

[2016-04-08 05:57] dougludlow commented on #29
@duinzaghi I've released v0.5.0, where you should be able to set the id and/or class on a modal without issue. Let me know how it goes.

[2016-04-08 11:55] samvloeberghs commented on #28
**If you really want to remove this warning; **basically you could just add bootstrap@3.3.6 as a (optional or dev ) dependency in your project. If you don't include it or whatever it will not impact your distributable, only the project size on your workstation.
[code]

[2016-04-08 13:03] dougludlow commented on #28
I like that. Probably the best way to go.

[2016-04-08 13:03] #28 closed

[2016-04-08 14:42] iherbivore commented on #28
Thanks, I should have realized that.

[2016-04-11 16:10] lizhong8532 opened #33 "How create a public modal?"
Hi,
I am using your ng2-bs3-modal with my project. And has once trouble as I want to create a public modal component, like this user login component. then anywhere other in component can be import the user login component usage.

**user-login.component.ts**
[code]

**a.component.ts**
[code]

**b.component.ts**
[code]

Tell me any way idea, Thanks!

[2016-04-12 08:13] nilsigusi opened #34 "this.$modal.modal is not a function"
Hi, by opening modal I am getting:

[code]

what could it be?

[2016-04-12 08:23] nilsigusi commented on #34
here my dependancies:

[code]

[2016-04-12 22:58] bhambanip opened #35 "Unhandled Promise rejection on calling modal from component"
Getting
Unhandled Promise rejection: No provider for ModalComponent! (AutofocusDirective -> ModalComponent) ; Zone: angular ; Task: Promise.then ; Value:

on calling modal from component

[2016-04-13 12:51] samvloeberghs commented on #33
We've implemented a similar problem in our internal project. Can't share the code tough..

You can reference a component and use dynamic component loading.
Checkout `DynamicComponentLoader`: https://angular.io/docs/ts/latest/api/core/DynamicComponentLoader-class.html

[2016-04-13 15:17] lizhong8532 commented on #33
@samvloeberghs Hi, Can you providers any simple example? Thanks a lot so much!

[2016-04-13 15:41] dougludlow commented on #33
@lizhong8532 modifying your example, something like this should work (untested), using the ViewChild annotation to access a child component within a parent:

**user-login.component.ts**
[code]

**a.component.ts**
[code]

**b.component.ts**
[code]

[2016-04-13 16:43] dougludlow commented on #34
@nilsigusi could you provide a code sample?

[2016-04-13 16:45] dougludlow commented on #35
@bhambanip strange, can you provide a code sample? How are you calling the modal?

[2016-04-13 16:46] dougludlow commented on #30
@amaurymartiny did that solve your issue?

[2016-04-13 16:47] dougludlow commented on #17
No response, closing issue.

[2016-04-13 16:47] #17 closed

[2016-04-13 16:47] dougludlow commented on #17
Please open a new issue if you are still experiencing problems.

[2016-04-14 01:50] lizhong8532 commented on #33
@dougludlow Thanks a lot so much, The above code can be correct working now.

[2016-04-14 02:01] dougludlow commented on #33
Great!

[2016-04-14 02:01] #33 closed

[2016-04-15 06:59] theunreal opened #36 "TypeError: require is not a function"
[code]

when putting the MODAL_DIRECTIVES

[2016-04-15 09:21] Diluka commented on #34
I have encounter the same problem. But I solved it that I forgot the script tag in `index.html`.
Just like this will be alright:
[code]

[2016-04-15 09:42] hakalb opened #37 "onOpen eventemitter not triggered"
I can not get onOpen() eventemitter to be triggered when modalcomponent.open() is triggered.
It's working with onDismiss().

[2016-04-15 12:51] dougludlow commented on #30
Feel free to reopen if you're still having issues.

[2016-04-15 12:51] #30 closed

[2016-04-15 12:53] dougludlow commented on #35
Are you using tha autofocus directive within the modal component?

[2016-04-15 12:58] dougludlow commented on #36
@theunreal are you using SystemJS to load your scripts?  You need to map it in your config or add a script reference to the bundle.

[2016-04-15 12:59] dougludlow commented on #37
@hakalb thanks for reporting this. I'll take a look.

[2016-04-15 13:11] hakalb commented on #37
I solved it for now by using @ViewChild() and trigger modal open inside my component. The returned promise tells me when modal is fully opened. Works like a charm and is as good as onOpen().

[2016-04-15 13:38] dougludlow commented on #37
Ha ha, brilliant. I'll still look into why it's not emitting.

[2016-04-18 07:51] fuitattila commented on #26
Cool it works perfectly! Thank you for your quick help!

[2016-04-18 19:37] dougludlow commented on #34
Closing due to no response. Feel free to open again if you're still seeing issues.

[2016-04-18 19:37] #34 closed

[2016-04-18 19:37] dougludlow commented on #35
Closing due to no response. Please reopen if you're still seeing issues.

[2016-04-18 19:37] #35 closed

[2016-04-20 15:19] dougludlow commented on #36
Closing due to no reponse. Feel free to open if the issue persists.

[2016-04-21 12:59] dougludlow opened #39 "Is it would be possible to open a modal located in a « son » component from the parent one?"
To be clear, I have:

[code]

If I include directly the modal component inside the parent of course it works, but is it possible to do it that way?

[2016-04-21 13:03] dougludlow opened #40 "Do not close modal if form is invalid"
I have a requirement where the modal should have an input form with text fields and also validations. If the validations fail it should not close the pop up when the user presses ‘Save’ on the modal. Is there a way to block the close event and also how can I have validations messages on the form itself.

[2016-04-21 13:06] dougludlow commented on #39
@charesbast, if I'm understanding you right, you basically want to open a modal from another modal?

[2016-04-21 13:08] dougludlow commented on #40
That's easily achievable. Let me put together an example.

[2016-04-21 13:58] dougludlow commented on #40
I've put an example up on http://dougludlow.github.io/ng2-bs3-modal/, click the "With form validation" button.

The gist of it is:

[code]
The submit button is disabled as long as the form is invalid.

Is that kinda what you're looking for?

[2016-04-21 14:01] dougludlow commented on #39
I updated the [demo](http://dougludlow.github.io/ng2-bs3-modal/) to include an example where you open a modal from another modal. Click on the "Nested modals" button.

The code for it is here: https://github.com/dougludlow/ng2-bs3-modal/blob/master/demo/modal-demo.component.html#L65

Let me know if that's what you're looking for.

[2016-04-21 14:07] dougludlow commented on #37
@hakalb sorry it took me a while to look into this. Unfortunately I haven't been able to repro this issue. I added a test that checks that onOpen emits when the modal is opened. I've also updated my [demo](http://dougludlow.github.io/ng2-bs3-modal/) and it appears to update onOpen just fine. Let me know if you find otherwise, but I'm going to close this issue for now.

[2016-04-21 14:07] #37 closed

[2016-04-21 14:10] charesbast commented on #39
Hi Doug, sorry for the misunderstanding. I know it's possible to open a modal from another modal but it's not what I whant.

I would like to open my modal from a parent **component** (not modal).
I have several components:
-  the **dashboard-products** is a classic component in which I have a button. If I click to that button I want to open the modal.
- in this **dashboard-products** component I h

[2016-04-21 14:30] dougludlow commented on #39
@charesbast oh I see. What you'll do is expose the modal as a property on the modal-product component. You can do that using the [ViewChild](https://angular.io/docs/js/latest/api/core/ViewChild-var.html) annotation.

Then you can use ViewChild again to access your modal-products component from your dashboard-products component, or in the view, if you give modal-products a template variable like `m

[2016-04-21 14:33] charesbast commented on #39
Ok I get it, the only thing is that I don't really have the time to test it now, but I'll definitely try it soon, and I'll get back to you for the report

[2016-04-21 14:44] dougludlow commented on #39
Great! I'd code up a better example, but I'm mobile atm.

[2016-04-21 15:16] dougludlow commented on #39
So here's how it would look, roughly, using the template variable approach:

[code]

modal-product.component.ts
[code]

Or going the other route mentioned:

[code]

dashboard-products.component.ts
[code]

[2016-04-21 15:18] charesbast commented on #39
Thanks for the example, I'll try that ASAP to confirm that it works :)

[2016-04-25 20:06] chrismcgregor opened #41 "Close event when selected outside of modal"
Is there an event I can capture when someone selects outside of the modal and it closes?

[2016-04-25 20:20] dougludlow commented on #41
@chrismcgregor yes, onDismiss is emitted when the backdrop is clicked and the modal is hidden.

[2016-04-25 20:21] #40 closed

[2016-04-25 20:21] dougludlow commented on #39
@charesbast have you had a chance to test this out?

[2016-04-25 20:21] chrismcgregor commented on #41
Excellent, thank you!
--
Christopher McGregor
415.624.6261 // chris@mcgregor.io

[2016-04-25 20:22] #41 closed

[2016-04-25 20:35] charesbast commented on #39
Hi Douglas,
Sorry I haven't tested it yet but I'll try tomorrow afternoon. I'll get
back to you then

Bastien Charès

Le 25 avril 2016 à 22:21:24, Douglas Ludlow (notifications@github.com) a
écrit:

[2016-04-26 12:49] charesbast commented on #39
Ok It's working fine, the only difference with your example is that your modal component is just used in my modal-product component. So in my dashboard-products component I only have
<modal-product></modal-product>

I prefer to do that way to isolate the modal implementation inside my own component modal-product.

But thank you for the help :)

[2016-04-26 12:56] #39 closed

[2016-04-28 00:46] maxfisher05 commented on #28
I would like to use this with bootstrap4, the API hasn't changed for modal so this works out of the box: http://v4-alpha.getbootstrap.com/components/modal/

The only issue is the peerDependency.

using node v5.8.0 it actually fails the build.

npm ERR! peerinvalid The package bootstrap@4.0.0-alpha.2 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer ng2-bs3-mod

[2016-04-28 05:02] samvloeberghs commented on #28
@maxfisher05 : that would require a name change as the current name, like you say, references to bs3. Allowing it to use bs4 could be confusing. What if bootstrap suddenly decides they skip Bootstrap4 and go for Bootstrap5 ( e.g. PHP )? Than it would definitely be confusing.

I would suggest to clone and make your own version "ng2-bs4-modal" ( but whoami :) )

[2016-04-28 09:57] vvh-empora commented on #36
same problem here

[2016-04-28 09:58] vvh-empora commented on #36
<script>
        System.config({
            map: {
                'ng2-bs3-modal': '/admin-outfit-flow/node_modules/ng2-bs3-modal'
            }
        });
    </script>

[2016-04-28 18:28] dougludlow commented on #28
@maxfisher05, @samvloeberghs, that's probably the best way to go, I'd rather not support both versions in one project, the code could get messy. I'm open to helping facilitate creating a clone/new repo for ng2-ns4-modal.

[2016-04-28 18:40] dougludlow commented on #36
@vvh-empora you might check out the [SystemJS example project](https://github.com/dougludlow/ng2-bs3-modal-demo-systemjs), and see how your setup compares. What version of SystemJS are you using?

[2016-04-29 05:18] zenghuiLee opened #42 "how to use ts code to open one modal by modal ID?"
[code]
@dougludlow

[2016-04-29 07:33] vvh-empora commented on #36
hmmm... my `systemjs` version ist "0.19.25" but i have fix the problem by include the source file directly:

`import {MODAL_DIRECTIVES} from "ng2-bs3-modal/src/ng2-bs3-modal/ng2-bs3-modal";`

do you know this case?

[2016-04-29 07:43] #42 closed

[2016-04-29 09:39] dougludlow commented on #42
Something like that should work.

[2016-04-29 13:47] fuitattila opened #43 "Closing with header [x] does not emit onClose event"
I think in your ModalComponent you should also emit onClose.
`
dismiss(): Promise<void> {
        return this.instance.dismiss();
    }
`
Can you insert this feature?

[2016-04-29 15:33] dougludlow commented on #43
@fuitattila onDismiss should be emitted when the `x` is clicked. Is this not the case?

[2016-04-29 21:21] maxfisher05 commented on #28
thanks doug, I created a fork for now: https://github.com/maxfisher05/ng2-bs4-modal

[2016-05-01 02:49] dougludlow commented on #28
@maxfisher05 awesome! Let me know where you can use a hand.

[2016-05-02 09:56] fuitattila commented on #43
@dougludlow onDismiss is that event what I am looking for. Sorry for false issue:)

[2016-05-02 12:19] dougludlow commented on #43
No worries 😀

[2016-05-02 12:19] #43 closed

[2016-05-02 14:10] StephenLujan commented on #34
I am experiencing this same issue with scripts loaded in the same order as Diluka.

[2016-05-02 14:23] dougludlow commented on #34
Can you post your html?

[2016-05-03 23:15] StephenLujan commented on #34
Sorry. There was a bit of duplication going on. I had jQuery both loaded on the page directly, and imported into a typescript application with system js. Removing the import and system js setup for jQuery solves the issue, but leaves error spam about '$' in the tsc build and IDE even though it works at run-time. Just need to figure out a way to make system JS import jQuery first. It sounds like si

[2016-05-04 20:29] fuitattila opened #44 "Support Angular 2.0.0-rc.1"
Dear Doug!

Can you please upgrade your module to support  Angular 2.0.0-rc.1?

Current problem - now Angular is on a different path:
`node_modules/ng2-bs3-modal/ng2-bs3-modal.d.ts(1,22): error TS2307: Cannot find module 'angular2/core'.`

More info here:
`https://github.com/angular/angular/blob/master/CHANGELOG.md`

And if you have any ngFor loops at your module, you shoud change the `#` to `let`

[2016-05-07 15:35] born2net opened #45 "error on build in windows 10"
[code]

[2016-05-07 16:31] born2net commented on #44
be great if we can push to rc.1

[2016-05-07 20:39] born2net commented on #45
had to install globally rmraf in win 10

[2016-05-07 20:39] #45 closed

[2016-05-08 18:10] fuitattila commented on #45
By me still exists this problem. I have also Windows 10. And had installed rmrf and rimraf globally, but still fails the install with same error. Maybe you have an other package installed globally?
@born2net Please help with an other tip!

Tahk you!

[2016-05-08 18:37] born2net commented on #45
fixes for windows: https://github.com/born2net/ng2-bs3-modal/blob/master/package.json

[2016-05-09 03:01] atmsharif commented on #44
Hi @born2net
I found couple of issues/bugs after the Rc1 upgrade.
In RC1 ngOnDestroy can be called even when $modal is null, it's causing the router/app to break.
I forked and put a fix for this. Are you ok for me to merge the changes to your code base?

Cheers,
Sharif

[2016-05-09 03:38] born2net commented on #44
of course...

[2016-05-09 15:29] amaurymartiny commented on #44
@born2net Any reason why you are not doing a PR?

[2016-05-09 15:33] born2net commented on #44
I did do one, but not sure how the author wants to handle my package.json as I had to modify it to work in Windows (diff from original)

[2016-05-09 15:35] dougludlow commented on #44
Let me take a look at the pr and get it merged in. Thanks @born2net!

[2016-05-09 22:21] dougludlow commented on #44
v0.6.0 is compatible with angular 2.0.0-rc.1. Thanks @born2net.

[2016-05-09 22:21] #44 closed

[2016-05-09 22:27] dougludlow commented on #36
@vvh-empora sorry for not responding for a while, things have been busy. Yes, that would make sense if the `System.config` doesn't have the [`defaultJSExtensions`](https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#defaultjsextensions) flag set, or an entry to the packages doesn't exist for ng2-bs3-modal, that sets the `defaultExtension` property to `js`.

[2016-05-09 22:27] #36 closed

[2016-05-12 20:35] psibernetic opened #48 "Out of date deps?"
├── UNMET PEER DEPENDENCY @angular/common@^2.0.0-rc.1
├── UNMET PEER DEPENDENCY @angular/compiler@^2.0.0-rc.1
├── UNMET PEER DEPENDENCY @angular/core@^2.0.0-rc.1
├── UNMET PEER DEPENDENCY @angular/platform-browser@^2.0.0-rc.1
├── UNMET PEER DEPENDENCY @angular/platform-browser-dynamic@^2.0.0-rc.1
└── ng2-bs3-modal@0.6.0

I am running the latest angular2 packages.

[2016-05-13 15:55] dougludlow commented on #48
@psibernetic what version of angular do you have installed? As of [rc.0](https://github.com/angular/angular/blob/master/CHANGELOG.md#200-rc0-2016-05-02), the angular team changed how angular2 was distributed on npm:

You can install rc.1 with:

[code]

And remove the old one like so:

[code]

Otherwise `ng2-bs3-bootstrap@0.5.x` still works with `angular2@2.0.0-beta.x`.

[2016-05-13 20:56] psibernetic commented on #48
Thanks!

[2016-05-13 20:56] #48 closed

[2016-05-13 21:49] haneyman commented on #31
This was helpful but it looks like things have changed with the CLI.  I am using version 1.0.0-beta.1:
**Step 2** should now be: In file angular-cli-build.js, add 'ng2-bs3-modal/**/*.js'
**Step 5**. should now be: In file system-config.ts, add 'ng2-bs3-modal' to the barrels array, add 'vendor/ng2-bs3-modal' to the system.config map

[2016-05-15 06:16] loganfreeman opened #49 "onClose emit undefined"
[code]

why onClose emit undefined? how to get the ModalResult?

[2016-05-17 02:19] dougludlow commented on #49
`onClose` emits when the modal is closed. `onDismiss` emits when the modal is dismissed.

[2016-05-17 16:12] MagnusKnalstad opened #50 "Undefined when using modal.open()/modal.close() in parent component"
Hi, I am working on a production application, and throughout the project had problems using for instance "this.modal.open() " in the component.ts file.

Console gives
browser_adapter.ts:78 ORIGINAL EXCEPTION: TypeError: Cannot read property 'open' of undefined.

The strange thing is that in one of the components, which has several instances of the modal component, one of them works. The other moda

[2016-05-17 16:15] dougludlow commented on #50
@MagnusKnalstad thanks for reporting the issue. Is it possible to share any of your code?

[2016-05-17 16:29] MagnusKnalstad commented on #50
Sure!
Can use an example of this Mail Component.
This is wanted to be triggered from NgOnInit LifeCycle when the component is called on.
![mailcomp](https://cloud.githubusercontent.com/assets/12196221/15330262/6708de10-1c5c-11e6-8662-09ebd4752060.jpg) when enabling <email></email> selector to become true.

Workaround temporary have been to make a transparecy-button inside in the html button above

[2016-05-17 17:26] dougludlow commented on #50
Okay, I think I know what's going on here. `ngOnInit` is too early, the child views haven't been initialized yet. Try `ngAfterViewInit` instead. See [Component lifecycle Hooks](https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html#!#hooks-overview) from the Angular2 docs for more details.

From the docs:

[2016-05-17 17:51] dougludlow commented on #49
In earlier versions I used to emit the ModalResult, but I found I didn't need to if I had two separate event emitters.

[2016-05-17 17:51] #49 closed

[2016-05-17 17:54] MagnusKnalstad commented on #50
There we go! As for the other components, I think its the same red thread here as well. They use two way binding [(NgModel)], and they are objects that are being initilized in NgOnInit.

example:

testobject : Object

ngOnInit(){

testobject = new Object();
}

onChange(valid){
if(valid)
    this.modal.open(); //Gives undefined
}
 Some of them have a (change)-method that triggers for validation, th

[2016-05-17 17:56] dougludlow commented on #50
Great! Glad I could help!

[2016-05-17 17:56] #50 closed

[2016-05-19 11:09] oxycoder opened #51 "Multiple modal from parent component?"
From the docs, I custom it a bit to support multiple from parent component, but seem like it doesn't work. It always call the last ViewChild modal.
I guess this problem happen because we only have one instance of ModalComponent.
Is it possible to make something like:
modal.init(#modal-id)
[code]

[2016-05-19 17:03] dougludlow commented on #51
@oxycoder to access multiple modals you can do one of two things:

[code]

Or

[code]

[2016-05-19 17:03] #51 closed

[2016-05-19 19:14] guzmo opened #52 "TypeError: this.$modal.modal is not a function"
I keep getting

when I click a button to open a modal with this.modal.open().

I've tried to find the error but can't figure it out.
When I am inspecting this.$modal.modal(); in modal-instance.js:37 it looks like this.

Which feels wrong but I dunno. :P

My dependencies are:
[code]

Would appreciate any help (Y)

[2016-05-19 19:50] dougludlow commented on #52
This could be happening if jquery of bootstrap haven't been loaded yet. How are you loading your dependencies?

[2016-05-19 19:54] dougludlow opened #53 "How can I close the modal from within the modal body?"

[2016-05-19 19:59] dougludlow commented on #53
Something like this should work:

[code]

[2016-05-19 20:00] #53 closed

[2016-05-21 17:40] guzmo commented on #52
I have a main.ts file that bootstraps everything.

[code]
Im loading the scripts with

[code]

and thats about it.

In my @Component I'm importing

[code]

and trying to reach the model with ( where I have #modal in my html )

[code]

Triggering this.modal.open(); when I click a button.

[2016-05-21 17:48] dougludlow commented on #52
How are you generating your bundle.js? I suspect the script for bootstrap is not being loaded or is not being loaded in the right order.

[2016-05-21 18:21] guzmo commented on #52
Gulp + webpack

[code]

By bootstrap you mean bootstrap 3.x js file? or do you mean how I am bootstrapping it? :P

The only bootstrap script I'm loading is ng2-bootstrap.

[2016-05-21 18:37] guzmo commented on #52
Installed bootstrap and import 'bootstrap'; and everything works fine now.

Thanks for the assistance.

[2016-05-21 18:37] #52 closed

[2016-05-23 17:52] Mark-Brightcloud opened #54 "Could you be more specific on example?"
I've been trying to integrating this with an Angular 2 based web app, but keep getting errors on modal not found error.

Please provide a new example, this is very important stuff you are working on, make it usable to the community.

Thanks!

[2016-05-23 18:14] guzmo opened #55 "Modals in ngFor"
Hey!

Im getting problems when I'm running this in an *ngFor.

[code]

Any suggestions?

[2016-05-23 18:21] dougludlow commented on #54
Hi @Mark-Brightcloud, can you provide your code and actual error? There are so many ways to include ng2-bs3-modal; jspm, systemjs, webpack, rollup, etc.

[2016-05-23 18:22] dougludlow commented on #55
Hey @guzmo, can you show me some of your code? That would help me figure out what's going on.

[2016-05-23 19:01] guzmo commented on #55
I have a component like this.

[code]
In that component I have a modal. I can open it but when I press "Ok" it throws this exception.

I have a form in the Modal that gets created by following.

[code]

The Modal is similar to this and is in my template for the **resource-panel** Component.
[code]

Getting the Modal with
[code]
as usual.

I'm too new to Angular2/Typescript to know the best way to

[2016-05-23 19:06] Mark-Brightcloud commented on #54
@dougludlow WOW, thanks for the quick followup. Rather than posting my error, would it be possible that you can show me the complete implementation of using ViewChild?
"Opening and closing the modal from a parent component" shows only the parent component, could you show me the child component as well ?

Again, many thanks.

[2016-05-23 20:29] dougludlow commented on #55
Hmm... I wonder if it's because bootstrap.js is not being loaded? How are you building your app? webpack?

[2016-05-23 20:35] dougludlow commented on #54
Sure. Modifying that same example:

[code]

You can also see it in the [demo](http://dougludlow.github.io/ng2-bs3-modal/):

[modal-demo.component.ts](https://github.com/dougludlow/ng2-bs3-modal/blob/master/demo/modal-demo.component.ts#L52-L54)
[modal-demo.component.html](https://github.com/dougludlow/ng2-bs3-modal/blob/master/demo/modal-demo.component.html#L27)

[2016-05-23 20:43] dougludlow commented on #54
If the error is `TypeError: this.$modal.modal is not a function.`, checkout #52.
If you're getting `TypeError: Cannot read property 'open' of undefined.`, checkout #50.

[2016-05-23 21:17] Mark-Brightcloud commented on #54
@dougludlow Yes, I am getting this error.  `TypeError: this.$modal.modal is not a function.`

I made sure to load them all in my html file;

    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="node_modules/ng2-bootstrap/bundles/ng2-bootstrap.js"></script>
    <script src="node_modu

[2016-05-23 22:39] dougludlow commented on #54
Weird, no, that doesn't make any sense. You might take a look at the [npm demo](https://github.com/dougludlow/ng2-bs3-modal-demo-npm) to get an idea on ordering imports, note that the ng2-bs3-modal bundle should be included after the System.config:

https://github.com/dougludlow/ng2-bs3-modal-demo-npm/blob/master/index.html#L48

[2016-05-23 22:50] dougludlow commented on #55
Does the modal load outside of the ngFor?

[2016-05-24 04:52] guzmo commented on #55
ye and it loads inside as well, the only thing I cant do is press "Ok" on the submit button because then it crashes and reloads the page.

[2016-05-24 08:09] Mark-Brightcloud commented on #54
@dougludlow

Hey, I got it working! You are right, it has to do the way jqyery and bootstrap load in my program. I took the time to re-learn the structure of angular 2 with webpack on importing packages and everything came together.

Really appreciate your help along the way, couldn't have done without your help! This is great stuff you are building, keep it going. I will be moving forward using t

[2016-05-24 08:09] #54 closed

[2016-05-24 16:42] dougludlow commented on #55
What does your `createAttribute()` function look like?

[2016-05-24 17:05] dougludlow commented on #54
@Mark-Brightcloud I guess I need to get a webpack demo put up. Any help there would be appreciated.

[2016-05-24 18:15] Mark-Brightcloud commented on #54
@dougludlow, Glad I can chip in. I'm also new to webpack though. How would you like me to help or where would you recommend to start?

[2016-05-24 18:59] guzmo commented on #55
At the moment nothing. Just a console.log while testing it.

[2016-05-24 19:12] dougludlow commented on #54
If you want to post your `webpack.config.js`, that would be a good start. I can wrap it into a demo project some time.

[2016-05-24 19:14] dougludlow commented on #55
Hmm... I'm not sure if I've used a form submit yet, in the modal. I'll have to do some testing around that. I wonder if you still get the issue if you swap the submit for a plain ol' button?

[2016-05-24 19:53] guzmo commented on #55
Ill try it. Im not home for 2 days though so can have something for u on friday the earliest, just so u know :)

[2016-05-24 19:56] Mark-Brightcloud commented on #54
Sure.
I use bootstrap-loader to load native bootstrap libraries, and webpack plugin to load jquery.
Configure the entry point to load bootstrap-loader module and app entry file.
No need to load double ng2-bs3-modal module in webpack since it gets loaded in app.component.ts through webpack build as below:

    import { MODAL_DIRECTIVES, ModalComponent } from 'ng2-bs3-modal/ng2-bs3-modal';

webpack.

[2016-05-24 20:43] dougludlow commented on #54
Great! Thanks!

[2016-05-31 04:51] vknaveenkumar opened #56 "Cannot read property 'open' of undefined"
Cannot read property 'open' of undefined

[2016-05-31 13:38] obiwan007 opened #57 "Nested Modals will break scrolling"
If you have a really high/large modal and open a modal on top if it, the scrolling is broken if you close the top form again.
Maybe some infos on how to fix:
http://stackoverflow.com/questions/19305821/multiple-modals-overlay

[2016-05-31 15:21] ajayambre opened #58 "TypeError: self.context.opened is not a function"
I want a modal dialog that has a form with several input fields using <code>[(ngModel)]</code> whose values I want to fetch and pre-fill the form and then save the values if user updates them.

I am trying to open a modal dialog from my component by doing
<code>this.modal.open()</code>

The modal dialog opens but I get this error in the console and Angular2's data binding and change detection stop

[2016-05-31 19:37] dougludlow commented on #57
@obiwan007 thanks for finding this. I'm a little swamped on other projects so I probably won't be able to take a look at this for a couple weeks. Just FYI.

[2016-05-31 19:41] dougludlow commented on #58
@ajayambre could you possibly post your component's code, including the template? My hunch is that you are referencing a callback in the template that doesn't exist, but I could be completely off.

[2016-05-31 19:43] dougludlow commented on #56
@vknaveenkumar thanks for reporting this. Could you provide some more detail and perhaps a code sample?

[2016-05-31 19:45] dougludlow commented on #56
Also, please take a look at #50 and #54 and see if any of those details assist you.

[2016-06-01 05:57] ajayambre commented on #58
@dougludlow I tried to reproduce my case here [Grid Modal Demo](http://plnkr.co/edit/Kv9LSiNgMElZ8Sll142j?p=preview)

But now I am getting this error
![image](https://cloud.githubusercontent.com/assets/5074211/15699592/b517d1fc-27eb-11e6-997d-df83b1f9187d.png)

I am not sure if I am missing something here.
Thanks.

[2016-06-01 06:06] vknaveenkumar commented on #56
i cant get it. can u please help me in solving this . At what time would u come ? (IndianStandardTime)

[2016-06-01 10:27] ajayambre commented on #58
@dougludlow Thanks. You were right.
I had this in my template <code>\<modal #mymodal (onOpen)="opened()"></code> but I forgot to add <code>opened()</code> in my component. Sorry for that.

[2016-06-01 10:28] ajayambre commented on #58
@dougludlow I tried to reproduce my case here [Grid Modal Demo](http://plnkr.co/edit/Kv9LSiNgMElZ8Sll142j?p=preview)

But now I am getting this error
![image](https://cloud.githubusercontent.com/assets/5074211/15699592/b517d1fc-27eb-11e6-997d-df83b1f9187d.png)

I am not sure if I am missing something here.
Thanks.

[2016-06-01 12:00] dougludlow commented on #56
@vknaveenkumar I'm sorry, but without more detail I can't be of much help.

[2016-06-01 12:30] dougludlow commented on #58
Yup, you're just missing the bootstrap.js and bootstrap.css. http://plnkr.co/edit/pB1gbAK9LUgwN6AM3isC

[code]

[2016-06-02 02:35] fgauer opened #59 "Dynamic modal body content"
Hi,

I would like to do something like this:

    <modal-body>
        Delete This Thing: {{somethingToDelete}}?
    </modal-body>

...and have model.open() plug in the contents of {{somethingToDelete}} dynamically. Right now, since modal-body is brought in when model.init() is called, {{somethingToDelete}} gets set to some value at init() time and does not change.

For instance if I have a list o

[2016-06-07 14:14] bakerr08 opened #60 "Modal appearing on edge of the screen instead of centered."
When I open my modal instead of being centered on the screen I get it centered on the right edge of the window. Here is the html for my modal

[code]

Here is the code from my component

[code]

I have tried adding different styling and putting the modal html in a different location, but nothing seems to have an impact on where the modal is centered.  Any input on how to address this would be grea

[2016-06-07 14:23] dougludlow commented on #60
Hey @bakerr08 can you post a screenshot so I can get a better idea of what is going on?

[2016-06-07 14:29] bakerr08 commented on #60
![modal](https://cloud.githubusercontent.com/assets/5287164/15861574/55e84ef4-2c92-11e6-99c7-59deb4d32d2f.PNG)

this happens whenever I open the modal.

[2016-06-07 14:44] bakerr08 commented on #60
I figured out my issue. When I added the library to my project I just followed the set up guide without really paying attention.  As a result I referenced the bootstrap css multiple times.  When I remove one of the references it functions perfectly fine.

[2016-06-07 14:44] #60 closed

[2016-06-07 15:20] dougludlow commented on #60
Great! Glad you were able to figure it out.

[2016-06-09 07:16] taguan opened #61 "onClose not firing"
Hello,

I noticed that the "onClose" EventEmitter only fires when we explicitly call the close method. This is not very useful, I would have expected the event to be also fired when the modal is closed by clicking the X or outside of the modal, or when hitting Esc, ...

[2016-06-09 07:24] dougludlow commented on #61
@taguan, in those cases onDismiss is emitted.

[2016-06-09 07:29] taguan commented on #61
Sorry, I just found the onDismiss event doing exactly that.
I still feel the onClose is a bit misleading and that is cumbersome to have to listen to two different events when we want to now when the modal is closed by any way.

Shouldn't at least onDismiss be fired when we close the modal ?

But ok for closing that issue

[2016-06-09 07:29] #61 closed

[2016-06-13 05:53] sgbeal opened #62 "memory leak: modal elements pollute the body"
i'm seeing the following: when switching back and forth between views which use modals, their `<modal>` parts are being recreated on each visit and stuffed into the DOM, and their old DOM elements are still in the body. i've added this to all affected components:

[code]

but that's not solving it - the DOM elements are still left lying around. We _desperately_ need a way of cleaning those up.

Th

[2016-06-13 07:10] sgbeal commented on #62
Adding this to my ngOnDestroy():

     $('modal').remove()

is only partially working - some views are doing it and others not (which would seem to imply an A2 event-firing bug).

BTW: this is angular2 RC1 and modal 0.6.1.

[2016-06-13 07:33] sgbeal commented on #62
The current workaround seems to be to add this to many different components:

    ngOnInit(){
        Workarounds.cleanupModals();
    }

and...

     export const Workarounds = {
        /**
         *  workaround for https://github.com/dougludlow/ng2-bs3-modal/issues/62
         *  Force removal of all MODAL tags in the body element.
         *
         *  In theory this belongs in the ngOnDestr

[2016-06-13 11:52] sgbeal commented on #62
i have looked through the bs3 code and as far as i can see, it is trying to clean up the DOM elements via ngOnDestroy() (by way of ModalInstance::destroy()), so my suspicion at the moment is that ngOnDestroy() is not being called (as mentioned in a previous comment), meaning that this might actually be an angular2 bug.

[2016-06-13 16:10] dougludlow commented on #62
@sgbeal thanks for looking at this. I'm a little swamped at the moment, but I'll trying to look into it soon.

[2016-06-13 16:14] dougludlow commented on #59
@fgauer sorry for not responding sooner, this is already possible. You don't need to pass anything into modal.open(), you simply change the value of `somethingToDelete` prior to opening it.

[2016-06-13 16:14] #59 closed

[2016-06-13 16:15] #58 closed

[2016-06-13 16:16] dougludlow commented on #56
Yes, the example from the readme should suffice:

### Opening and closing the modal from a parent component
[code]

[2016-06-13 16:17] dougludlow commented on #56
Also, take a look at the working demo code: https://github.com/dougludlow/ng2-bs3-modal/tree/master/demo

[2016-06-13 16:17] #56 closed

[2016-06-13 16:26] dougludlow commented on #62
@sgbeal what router are you using?

[2016-06-13 16:28] sgbeal commented on #62
The RC1 one (not router-deprecated). In fact, i looked into hooking into that to clean up the extra instances, because it supposedly has lifetime hooks, but the docs for them are completely empty :(.

[2016-06-13 16:29] sgbeal commented on #62
Specifically:

https://angular.io/docs/ts/latest/guide/router.html#!#router-lifecycle-hooks

is currently empty, but in theory one could hook in there to destroy `<modal>` when changing views.

[2016-06-13 16:32] dougludlow commented on #62
Yeah... they did have docs on the RC router for a little while, but now they're gone. Which version of the RC router? I noticed recently that 3.0.0-aplha.3 is the latest and they moved it to a new repo (https://github.com/angular/vladivostok), but it seemed to be missing a lot of features.

[2016-06-13 16:33] fgauer commented on #59
Thanks Doug! I will give it a try again. I was having trouble getting it to work but it could certainly be something I'm doing. Much appreciated!

[2016-06-13 16:34] sgbeal commented on #62
BTW: i managed to work around it by simply nuking all `<modal>` tags via `ngOnInit()` in all views which use this module (we've got 8 or 10 such views). This was a dirty hack, but it works with (surprisingly) no noticeable side effects. It leaves us with, at most, one stray `<modal>` in the page body, but it's invisible and isn't bothering anyone. i only accidentally noticed the behaviour this mor

[2016-06-13 16:36] sgbeal commented on #62
i have no idea which version of the router - whatever they bundle in `@angular/router` rc1. i can check the version tomorrow at work.

[2016-06-13 16:40] dougludlow commented on #59
Let me know how it goes.

[2016-06-14 05:25] sgbeal commented on #62
`@angular/router/package.json` simply says 2.0.0-rc.1:

`https://registry.npmjs.org/@angular/router/-/router-2.0.0-rc.1.tgz`

[2016-06-14 06:08] sgbeal commented on #62
correction: removing the DOM elements as i demonstrate above DOES have a bad side effect: onClose/Dismiss listeners are removed, and we need those to cancel timers running in the modal view. Eeek. Calling empty() instead of remove() leads to an invisible modal.

[2016-06-14 07:14] sgbeal opened #63 "missing onDismiss emit in dismiss()"
from modal.ts:

    close(): Promise<void> {
        return this.instance.close().then(() => {
            this.onClose.emit(undefined);
        });
    }

    dismiss(): Promise<void> {
        return this.instance.dismiss();
    }

dismiss needs to send an event as well, IMO. (i am trying to work around #62 and am hoping that manually connecting listeners will avoid side efects of forcibly remov

[2016-06-14 15:48] dougludlow commented on #63
@sgbeal `onDismiss` should be emitted here: https://github.com/dougludlow/ng2-bs3-modal/blob/master/src/ng2-bs3-modal/components/modal.ts#L45

This should emit not only when `dismiss` is called explicitly, but also when the modal is dismissed via keyboard and by clicking on the backdrop.

[2016-06-14 16:35] sgbeal commented on #63
Fair enough - i didn't specifically notice any broken behaviour, just the inconsistency compared to the close() impl.

[2016-06-14 16:35] #63 closed

[2016-06-15 11:55] vknaveenkumar opened #64 "modal allignment"
My modal is displaying at the top of the page instead center .Is there is any solution?

[2016-06-19 12:10] guzmo commented on #55
Sorry for the delay but its the same error with an ol' button :P
Can I somehow create the modal outside of the dialog and call it from inside the loop?

[2016-06-22 09:56] vijay21soni opened #66 "Multiple model in single page"
how can i use multiple model in single page?
for Ex. :
![untitled](https://cloud.githubusercontent.com/assets/6205138/16262638/17b72864-388e-11e6-8fbd-4a57b0856e20.png)

[2016-06-27 19:51] fuitattila opened #68 "Support Angular 2.0.0-rc.3"
Dear Doug!

Can you please upgrade your module to support Angular 2.0.0-rc.3?

https://github.com/angular/angular/blob/master/CHANGELOG.md#200-rc3-2016-06-21

Or your package works properly with rc,3? What do you think?

Thank you!

[2016-06-27 20:01] fuitattila commented on #66
Dear @vijay21soni!

If you want to control both of your modal from a component controller you should have 2 @ViewChild decorator, like that:

[code]
Now you can handle your modals from component after **ngAfterViewInit*** hook like that:
[code]

*You wrote Model not Modal - as you can see.*

*F:Y.I.:https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html

[2016-06-27 20:17] dougludlow commented on #68
Hey @fuitattila. I'm not sure if it works with rc.3 or not. I currently don't have projects that are actively using it. I'm a little tied up at the moment, but hopefully I can test it out within the next week or so.

[2016-06-28 10:53] kumargandhi opened #69 "Modal as an angular component."
Hi,

Thank you for writing such a cool add-on. This is really helping me.

I got one request/help.

In a typical application a view can have multiple modals, in such a case we have to place entire modal html code into one template, this will result in large template file!!.

Instead is it possible to create a component which will wrap the modal that you created and use them in the main template?

[2016-06-28 19:09] fuitattila commented on #68
Anyway I will try it soon - and I send for you my expereience here. Thank you Doug!

[2016-07-02 08:22] vijay21soni commented on #66
Thanks for reply,
it is working.
it is a great toll but you have to update according to angular 2 currnet
 release.

Sincerely,
Vijay Soni
sky id: vijaysoni.net
mobile: +91-9067635885

On Tue, Jun 28, 2016 at 1:31 AM, fuitattila <notifications@github.com>
wrote:

[2016-07-06 10:40] simoazzo opened #70 "Modal Directives are not working"
Hi Guys,

I am trying it out this plugin but the directives are being specified but are not working.

For example set animation to true and the modal will not be introduced with animation, even the backdrop.

[code]

Any help will be much appreciated. Thanks

[2016-07-06 11:07] simoazzo commented on #70
Ok solved.

I forgot the bootstrap Css file.

Cheers

[2016-07-06 11:07] #70 closed

[2016-07-08 16:44] kumargandhi commented on #69
I figured it out (This issue helped me to learn core concepts of angular2)
Solution:
ComponentMetaData has a property called **exportAs** that did the tric.
https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html

[2016-07-08 16:44] #69 closed

[2016-07-10 02:07] lmcarreiro opened #73 "Nested modals: second modal's backdrop under first modal"
When I open a second modal that is smaller than the first one, it's backdrop is apearing under the first modal.
I think it should appear over it, there are some examples:
http://jsfiddle.net/CxdUQ/
http://miles-by-motorcycle.com/static/bootstrap-modal/index.html

I get these examples from http://stackoverflow.com/questions/19305821/multiple-modals-overlay

[2016-07-12 16:33] ruanzy opened #74 "customer button how to work?"
customer button how to work?

[2016-07-15 18:48] guzmo commented on #55
Have you had any time to debug this? :)

[2016-07-15 20:20] lsiden commented on #9
I am having the same problem, but I configured my app with [Angular-Cli](https://github.com/angular/angular-cli).

I installed ng2-bs3-modal.  In my app directory, I can do:

    $ ls node_modules/ng2-bs3-modal/ng2-bs3-modal.js
    node_modules/ng2-bs3-modal/ng2-bs3-modal.js

Here is a snippet from my app/system-config.ts

/**************************************************************************

[2016-07-15 23:36] Methodician commented on #66
Thanks. My problem was I was doing this:

[code]
Which seemed close enough to the code examples. Might want to adjust the examples to show them on the same line to avoid confusion going forward.

[2016-07-17 04:58] kenkopelson commented on #68
Angular 2 is at rc4, and rc5 is quickly coming.  Please update to the newest version of Angular.

[2016-07-19 15:49] dougludlow commented on #68
Yeah... sorry guys, I've been in the middle of moving... anyone can feel free to put in a PR for it.

[2016-07-19 15:49] samvloeberghs commented on #68
on it, will do upgrade for rc4

[2016-07-20 07:20] eRez-ebs commented on #52
@guzmo  - can you please explain how did you installed and imported bootstrap?
my dependencies already includes `"bootstrap": "^3.3.6"` yet i'm still facing the exact same problem.

[2016-07-20 09:22] eRez-ebs opened #75 "unable to run the npm-demo"
Hi,
i've cloned the ng2-bs3-modal-demo-npm, ran `npm install` which went fine, and then `npm run build` which fails.
made sure i have latest npm (3.10.5) and node (4.4.7), yet still i'm getting:
`> ng2-bs3-modal-demo-npm@1.0.0 build C:\Users\ehuberman\Documents\projects\Github\test\ng2-bs3-modal-test\ng2-bs3-modal

'typings' is not recognized as an internal or external command,
operable program or

[2016-07-20 10:15] samvloeberghs commented on #75
You should install typings as the error clearly states:
[code]

[2016-07-20 10:20] samvloeberghs commented on #74
what's a customer button?

[2016-07-20 10:21] samvloeberghs commented on #64
you could adapt the css of bootstrap to show it somewhere else.

[2016-07-20 10:23] samvloeberghs commented on #68
I managed to update to RC4 and the new router:
https://github.com/samvloeberghs/ng2-bs3-modal

But I need some more time to get the tests working

[2016-07-20 10:50] eRez-ebs commented on #75
@samvloeberghs  - thanks for your reply.
installed 'typings', and now (after running `npm run build`) i get this:
`> ng2-bs3-modal-demo-npm@1.0.0 build C:\Users\ehuberman\Documents\projects\Github\test\ng2-bs3-modal-test\ng2-bs3-modal-demo-npm

└── (No dependencies)

node_modules/@angular/core/src/application_ref.d.ts(79,88): error TS2304: Cannot find name 'Promise'.
node_modules/@angular/core/src

[2016-07-20 11:15] eRez-ebs commented on #75
i found [this](https://github.com/angular/quickstart/issues/63), and used the answer of puvaasam which resolved my problem.  i'm now able to `run build` without errors, but now i'm puzzled as to how do i make this project actually run?  there's not 'start' script.
how do i actually test it?

[2016-07-20 12:49] LPalmito commented on #52
+1 @eRez-ebs, same issue for me!
Though unlike @guzmo I'm using only `webpack` (and not `gulp`), and the `<modal>` notation instead of `@ViewChild`. Here are more precisions:

- I've got also:
[code]

- I've properly installed `boostrap` in my `package.json`:
[code]

- my `component.ts`
[code]

- my `template.html`:
[code]

What could I be missing here?

[2016-07-20 17:48] guzmo commented on #52
I can take a look at it but not before sunday am I afraid. Im on the way to border a boat and no computer ( vacation yay ) :P

[2016-07-21 03:25] ruanzy commented on #74
$(body).append('<button (click)="f()">click</button>');

the button click not work?

[2016-07-21 03:25] ruanzy commented on #74
$(body).append(`<button (click)="f()">click</button>`);

the button click not work?

[2016-07-21 09:24] eRez-ebs commented on #52
@LPalmito  - ok, with the help of a colleague i've figured it out.
after installing bootstrap `npm install bootstrap --save` which didn't do the job, i've added to the project's index.html `<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>` (which i

[2016-07-21 14:27] kalbond commented on #64
That would require a change in the template. Is there a solution that doesn't involve template change?

[2016-07-21 15:21] kalbond commented on #64
Found a workaround. For those interested:
**CSS:**
[code]

**Template:**
[code]

**Component:**
[code]

[2016-07-21 21:26] mattes42 opened #76 "Leverage the onClose EventEmitter by sending parameters"
Assumed I have two buttons that do not dismiss, but close the modal. Both buttons return different values that the component that opened the modal can react to. That would be easy when the `close EventEmitter` would accept parameters instead of `undefined`.  Find a proposal below:

[code]

[2016-07-22 18:43] dougludlow commented on #76
Sure, I can see the issue if there are multiple close buttons on the modal and you want to differentiate between them. Feel free to make a pull request.

[2016-07-22 18:50] dougludlow commented on #75
@eRez-ebs simple loading the index.html in a browser should work. Typically I use a small static webserver like [node-static](https://github.com/cloudhead/node-static) to serve up the files.

[2016-07-22 18:52] dougludlow commented on #74
@ruanzy I'm sorry, but it's not exactly clear what you are asking. The code you have pasted in is jQuery and not exactly angular2 or ng2-bs3-modal related...

[2016-07-22 18:54] dougludlow commented on #73
Hmm... sounds like we need to be a little smarter with the CSS on stacked modals. Pull requests welcome here.

[2016-07-22 18:57] dougludlow commented on #66
@Methodician ha ha, yeah you'll want to annotate the correct property. :)

@vijay21soni glad it's working for you now.

@fuitattila thanks for your help!

[2016-07-22 18:57] #66 closed

[2016-07-22 19:02] dougludlow commented on #64
Thanks @kalbond. @vknaveenkumar feel free to search something like "bootstrap modal center vertically" if @kalbond's solution doesn't work for you, I'm sure there are many ways to do it. Here's another one: http://stackoverflow.com/questions/18053408/vertically-centering-bootstrap-modal-window.

Another interesting way to do it would be to use flexbox.

[2016-07-22 19:02] #64 closed

[2016-07-22 19:05] dougludlow commented on #52
@LPalmito I don't use webpack, but it may have something to do with the order that it's including the files. `ng2-bs3-modal` really depends on both jquery and bootstrap, so they need to be loaded and availabel globally in order for `ng2-bs3-modal` to use them.

[2016-07-25 08:47] eRez-ebs opened #79 "custom size"
Hi,
i have 2 different modals, both are small.  however, i want one of them to be 350px wide.
if i add this to my local css file -
`@media (min-width: 768px) {
  .modal-sm {
    width: 350px;
  }
}`

both of them become 350px wide.
i tried using the example [here](https://coolestguidesontheplanet.com/bootstrap/modal.php), by adding `#enableProducModal`  right before `.modal-sm` but it had no affec

[2016-07-25 12:33] LPalmito commented on #52
That was it @dougludlow and @eRez-ebs, thanks a lot for your detailed explanation! :)

[2016-07-25 18:10] guichengwu commented on #79
I have the same problem. How to customize the size of modal dialog?

[2016-07-26 14:22] samvloeberghs commented on #68
@dougludlow
I've got 5 tests running but having troubles with the 3 (xit).
Perhaps you could take a look at this:

https://github.com/samvloeberghs/ng2-bs3-modal

[2016-07-27 15:11] dougludlow commented on #68
@samvloeberghs I'm a bit busy atm, but i'll take a look when I get the chance. As new releases come out, I've typically been looking at the angular2 source tests and modelling mine after theirs. For example: https://github.com/angular/angular/blob/master/modules/%40angular/router/test/router.spec.ts

[2016-07-29 15:03] naoufelus commented on #74
Thx dougludlow

make a small example plunk for RC version https://embed.plnkr.co/aY8QLL9nOldpDS4Mk5pt/

[2016-08-02 08:56] AJMalik007 opened #80 "onClose reset form values"
I am trying to reset the form value when close button click. How to do this?

[2016-08-02 22:53] Toadskin commented on #31
I'm trying to adhere to the "do not use jQuery" recommendation so will look around for a "pure" Angular 2.0 modal if one is available.

[2016-08-03 15:59] estradamarkie opened #81 "Error when trying to open modal"
I'm getting an error when I try to execute the open function, I've installed the module and followed the instruction how to install it in my application.

Error:
` TypeError: self._el_312.open is not a function`

Btn:
`<button (click)="modal.open()">Self-checkout</button>`

systemconfig
[code]

[2016-08-03 16:13] #81 closed

[2016-08-03 17:47] dougludlow commented on #81
@estradamarkie feel free to share your fix...

[2016-08-05 00:49] koleary94 commented on #68
hey @dougludlow and @samvloeberghs. I just opened up a pr that should complete @samvloeberghs changes to the angular rc4 upgrade.

Not sure how you guys wanted to handle merging the changes, but I figured forking off of @samvloeberghs and submitting a pr directly to the main master worked best.

@samvloeberghs just in case you're curious why the other tests weren't working, not using the `.then()`

[2016-08-05 14:21] dougludlow commented on #79
Due to #65, you should be able to solve this in the latest version, v0.7.0, by adding a custom css class to your modal. Something like the following should work:

[code]

[code]

See the [demo source](https://github.com/dougludlow/ng2-bs3-modal/blob/master/demo/modal-demo.component.html#L38) for more detail.

[2016-08-05 14:21] #79 closed

[2016-08-05 14:36] dougludlow commented on #68
Angular 2.0.0-rc.4 is now supported in v0.7.0 thanks to @koleary94 and @samvloeberghs.

[2016-08-05 14:36] #68 closed

[2016-08-05 14:58] dougludlow commented on #80
I guess it depends on how your form is setup, but in theory you should be able to do this by subscribing the onClose or onDismiss event emitters and then performing your logic in there.

[2016-08-05 23:18] jaurakunal opened #83 "Modal component screwing with html injection location of Grand Child Component"
Hi,

I'm facing a weird problem with the modal component. It seems to work just fine when its added to & invoked from a child component. However, when I add the modal component to a grandchild component  it seems to screw up the injection location of the grandchild html template. Instead of putting it under the router outlet of the grandchild component it puts the entire grand child html template

[2016-08-07 08:18] eRez-ebs commented on #79
thanks for providing the solution, but i'm unable to update to v0.7.0.
i remove the ng2-bs3-modal library from the node_modules library root, and the relevant line from the dependencies in package.json of my project, and then either run `npm install --save ng2-bs3-modal` or simply `npm update` but eventually i'm left with v0.6.1 and when i add the `[cssClass]` property i get an exception `Can't bi

[2016-08-07 10:24] sudhashri commented on #31
I have followed all the sets mentioned in Post 1 and 3 but I get the following error.
`zone.js:101 GET http://localhost:4200/vendor/ng2-bs3-modal/ng2-bs3-modal 404 (Not Found)`

Here are my files:

1) `package.json`
[code]
2) `angular-cli-build.js`
[code]
3) `system-config.ts`
[code]
4) `index.html`
[code]
5) `app.component.ts`
[code]
6) `app.component.html`
[code]
7) `main.ts`
[code]

Should I ma

[2016-08-08 20:38] dougludlow commented on #79
@eRez-ebs hmm... perhaps 0.6.1 is the latest supported for the version of angular you have installed?

[2016-08-09 09:15] eRez-ebs commented on #79
i'm using version 2.0.0-rc.4, which - AFAIK - is the latest
[https://angular.io/docs/ts/latest/guide/npm-packages.html](url)

[2016-08-09 13:53] LPalmito opened #84 "onDismiss is fired only half of the time"
Hey!

It's exactly the issue [#27](https://github.com/dougludlow/ng2-bs3-modal/issues/27) which I'm having, but on version 0.7.0. Is it possible that going to RC caused that bug to appear again somehow, or am I missing something on my side?

Thanks!

[2016-08-09 15:14] dougludlow commented on #84
Strange, I have tests in place that look for that specific issue...

[2016-08-10 14:14] fuitattila commented on #73
@dougludlow will you fix this, or you wait for help? The app we made, opens modals not in correct z-index order. If a modal was sooner added to DOM, that will be behind of the newer modal.

[2016-08-12 01:37] valmassoi commented on #36
adding `System.defaultJSExtensions = true;` to system.config.js fixed it for me. thanks @dougludlow

[2016-08-12 10:23] LPalmito commented on #84
Hum OK, I have a clue for you after doing some tests. it's related to the `show-default-buttons` attribute in the `modal-footer`:
- when it's set to `false` (or keep it `false` by default) I'm having this issue
- if I set it to `true`, everything is working properly.

I hope it'll help you!

[2016-08-12 11:47] engmkurd opened #85 "Open modal form component directly"
How to open a modal form component, once the component initialized (ex: startup guide)

[2016-08-12 19:31] dougludlow commented on #84
@LPalmito interesting, I'll try to take a look over the next few days.

[2016-08-12 19:33] dougludlow commented on #85
@engmkurd - take a look at the example in the readme: https://github.com/dougludlow/ng2-bs3-modal#opening-and-closing-the-modal-from-a-parent-component

[2016-08-12 19:36] dougludlow commented on #83
@jaurakunal interesting, can you provide a code sample/plunkr of how you're adding it to a grandchild component?

[2016-08-12 19:40] dougludlow commented on #74
@naoufelus cool, looks like it's working great. @ruanzy does that help?

[2016-08-12 19:40] #74 closed

[2016-08-12 19:41] dougludlow commented on #75
@eRez-ebs are you still having issues getting the demo running?

[2016-08-14 06:53] eRez-ebs commented on #75
thanks, but i gave up after succeeding running the real thing

[2016-08-14 12:40] #75 closed

[2016-08-15 09:24] thardes2 opened #86 "npm install issue on Windows 10"
I executed the "Building" steps in your readme. The command

gave me an error. The overall message was as follows:

When I changed to according lines in your code, the installation worked out.
Old:
[code]
New:
[code]

[2016-08-17 05:02] damienpontifex opened #87 "ngIf on modal instance behaviour"
I have noticed that if I have an `*ngIf` on the modal instance tag, the behaviour of the component fails to do the `appendTo` which moves the modal to the bottom of the body. At this stage, the if block evaluates to true i.e. tags may be:
[code]
Stepping through code, the `init` method gets called on the `ModalInstance` but the modal ends up in the middle of the body, resulting in it appearing beh

[2016-08-17 09:18] hdcos opened #88 "google place result do not show up in modal"
http://stackoverflow.com/questions/27005608/angularjs-ui-bootstrap-modal-with-google-places

[2016-08-17 09:18] #88 closed

[2016-08-18 18:44] madhurahuja commented on #31
Hi Sudhashri, you can get rid of this error by using
 `defaultJSExtensions: true`
Put this in System.config.

[2016-08-19 05:32] tareq89 commented on #81
Hey @estradamarkie, did you find any fix? I am facing the same problem!

[2016-08-19 06:16] estradamarkie commented on #81
Hi yeah I just forgot to inject the module as a directive in my component. That's why the modal wasn't opening.

[2016-08-19 06:22] tareq89 commented on #81
Haha, looks like I have been doing the same mistake all along! Thanks :)

On Fri, Aug 19, 2016 at 12:16 PM, estradamarkie <notifications@github.com>
wrote:

[2016-08-19 06:27] estradamarkie commented on #81
haha yeah it was a small step but annoying.

[2016-08-19 07:54] kjwm opened #89 "change header background"
How can one change the background color of the header. Like adding classes modal-header-danger

[2016-08-19 10:39] sudhashri commented on #31
Adding `defaultJSExtensions: true` did the trick for me. Thank you @madhurahuja

[2016-08-29 04:14] damiandennis opened #91 "RC5"
You probably are already aware of the breaking changes in RC5 with modules. Any chance we can can a module made for these components.

[2016-08-31 14:10] chambersDon commented on #91
Same problem here.  Can we get an update on when a new version will be ready?

[2016-08-31 22:42] maxfisher05 commented on #91
I've updated the bootstrap 4 fork to use RC5 with modules: https://github.com/maxfisher05/ng2-bs4-modal/commit/968bc9c2c54a0b700985fb2d25b1b9b836ac0725
I don't think this commit could be directly merged back from fork but changes should be pretty similar.

[2016-08-31 23:15] jcannata commented on #91
I worked around this problem by creating a shared module like so...

`import { NgModule }           from '@angular/core';`
`import { CommonModule }       from '@angular/common';`
`import { MODAL_DIRECTIVES } from 'ng2-bs3-modal/ng2-bs3-modal';`

`@NgModule({
  imports: [ CommonModule ],
  declarations: [ MODAL_DIRECTIVES ],
  exports: [ MODAL_DIRECTIVES, CommonModule  ]
})
export class SharedModul

[2016-09-01 06:48] adaneam opened #92 "Issue with autofocus directive"
Seems like the "autofocus" directive that comes with ng2-bs3-modal overrides the default autofocus attribute. If you assign autofocus to an input element which is not a part of a modal dialog, you get "No provider for ModalComponent!" exception.

[2016-09-01 17:27] AHelper commented on #91
Note that with RC6 just being released, there are changes that break the current ng2-bs3-modal.

[2016-09-02 08:40] geronimo678 opened #95 "Not working in production mode RC5, angular-cli"
## **System:**
Angular 2 RC5 (Typescript) using angular-cli and the new NgModule Decorator.

## **Problem:**
Modals are not displayed correctly in production mode (ng serve --prod). In dev mode the modals are displayed correctly. It worked with RC4 perfectly and without using NgModule

Screenshot 1 (correct):
![bildschirmfoto 2016-09-02 um 10 09 34](https://cloud.githubusercontent.com/assets/70142

[2016-09-02 09:01] jamiewastin opened #96 "Export an Angular NgModule Containing Modal Directives"
As of Angular 2.0.0-rc.6, the instructions on the README.md are no longer valid. It is no longer possible to include directives as part of the `@Component` decorator:

[code]

Instead, we will now need to publish a `@NgModule` which exports the directives. This will then be imported into the consuming module:

[code]

[2016-09-02 09:53] jamiewastin opened #98 "Test Failures with Angular rc6"
The NPM dependencies on angular will match against the latest rc version, i.e.

    "@angular/common": "^2.0.0-rc.4",

Therefore, ng2-bs3-modal is now pulling in rc6, which is causing the tests to fail:

    02 09 2016 09:06:25.024:INFO [PhantomJS 2.1.1 (Linux 0.0.0)]: Connected on socket
    02 09 2016 09:06:25.212:WARN [web-server]: 404: /base/node_modules/@angular/core/testing.js
        Phanto

[2016-09-02 21:11] damiandennis commented on #91
@AHelper whats the breaking change, my wrapper module seems to still work after the upgrade?

[2016-09-02 21:31] wartab commented on #91
Angular removed directives, in essence.

[2016-09-03 22:47] winni4eva commented on #52
this helped me solve this problem http://stackoverflow.com/questions/37840333/how-to-add-bootstrap-3-to-angular2-webpack-based-project

[2016-09-04 20:42] sauverma16 commented on #31
I am not able to make this work still. Here are the steps I did.
1. ng new trial
2. installed bootstrap3 and ng2-bs3-modal
3. Added  'ng2-bs3-modal/**/*.js' to vendorNPM files in angular-cli-build.js
4. ng build and check dist folder - All OK
5. Followed step 4 except changing bootstrap version to 3.3.7 : All OK
6. Step 5:  In system-config.ts. Added the 'ng2-bs3-modal': 'vendor/ng2-bs3-modal' to

[2016-09-05 17:00] curlyfro opened #99 "RC6 Error: Generic type 'Type<T>' requires 1 type argument(s)"
v.0.7.0

this error is in:

\node_modules\ng2-bs3-modal\ng2-bs3-modal.d.ts

[2016-09-07 19:50] lhammond commented on #99
+1

[2016-09-08 14:21] #96 closed

[2016-09-08 21:32] jcannata opened #100 "Missing CommonModule import in Ng2Bs3ModalModule."
With the new modules feature, you must import modules whose public classes you need to reference in your module's component templates.

The ModalComponent relies on ngClass in its template so you must import CommonModule otherwise you will get a Template parser error when trying to use a dialog.

So in ng2-bs3-modal.ts you must add it like so...

`...
import { CommonModule } from '@angular/common'

[2016-09-08 22:51] dougludlow commented on #100
Fixed with #101.

[2016-09-08 22:51] #100 closed

[2016-09-09 06:00] flycat52 commented on #99
same error. it seems the npm version does not get updated.

[2016-09-09 14:57] dougludlow commented on #99
Hey all, I just published v0.8.0. Give that a try and lemme know what happens.

[2016-09-09 15:03] curlyfro commented on #99
cool -- i'm going to test in a few hours.

[2016-09-09 15:05] dougludlow commented on #98
@jamiewastin tests should be fixed in v0.8.0.

[2016-09-09 15:05] #98 closed

[2016-09-09 15:06] dougludlow commented on #95
Lemme play around with angular-cli. I haven't used it yet.

[2016-09-09 15:06] dougludlow commented on #92
@adaneam this is hopefully fixed in v0.8.0. Lemme know if you find otherwise.

[2016-09-09 15:06] #92 closed

[2016-09-09 15:07] dougludlow commented on #91
Should be good to go in v0.8.0.

[2016-09-09 15:07] #91 closed

[2016-09-09 15:18] dougludlow commented on #89
@kjwm sorry it's taken me so long to get back to you, here. You can add a custom css class to the modal using the cssClass property. From there, simply target the `.modal-header` class to customize it, if that makes sense.

[2016-09-09 15:19] dougludlow commented on #87
@damienpontifex good find. I'll need to put some tests in place and figure out a good way to approach this. Open to any suggestions.

[2016-09-09 15:20] dougludlow commented on #86
@thardes2, sorry it took so long, but this should be fixed in v0.8.0.

[2016-09-09 15:20] #86 closed

[2016-09-09 15:21] dougludlow commented on #85
@engmkurd were you able to get this figured out? Feel free to reopen if not.

[2016-09-09 15:21] #85 closed

[2016-09-09 15:22] dougludlow commented on #83
@jaurakunal are you still experiencing this problem?

[2016-09-09 15:22] RodEsV commented on #99
Fast question,
How can i get the last version ?
When I type npm install ---save ng2-bs3-modal I get the version with rc4

[2016-09-09 15:23] dougludlow commented on #80
@AJMalik007 you ever get this figured out? Feel free to reopen if not.

[2016-09-09 15:23] #80 closed

[2016-09-09 15:25] dougludlow commented on #99
Hmm... that should do it, depending on your npm version I guess. Try updating your package.json manually to `^0.8.0`.

[2016-09-09 15:30] RodEsV commented on #99
For the record
npm version 3.10.3
and that works!

[2016-09-09 16:02] #76 closed

[2016-09-09 16:04] dougludlow commented on #76
@mattes42 this should work now in v0.8.1.

[2016-09-10 17:21] RodEsV opened #102 "Problems getting started"
I was trying to do the demo for my own but when I copy the simplest example I get

Unhandled Promise rejection: Template parse errors:
Can't bind to 'show-close' since it isn't a known property of 'modal-header'.

I don't understand what is wrong!

[2016-09-11 20:58] #102 closed

[2016-09-12 12:25] dougludlow commented on #102
What did you end up with?

[2016-09-12 12:30] RodEsV commented on #102
It was a matter of imports, now everything works.
Thanks

[2016-09-12 12:30] dougludlow commented on #102
👍

[2016-09-12 13:22] alexkaskasoli commented on #52
I'm getting the same error, using systemjs. Are you guys using ng2-bootstrap?

I'm loading bootstrap and jquery before systemjs:
[code]
In my systemjs config I have:
`'ng2-bs3-modal':              'npm:ng2-bs3-modal',`

I'm using the `default modal` example, and when I click on the button I get:
`this.$modal.modal is not a function`

[2016-09-12 14:20] alexkaskasoli commented on #52
So I dropped `ng2-bootstrap`, it was giving me a fair deal of trouble. I'm now loading my jquery, bootstrap css and bootstrap js directly, in this order:

[code]
And still in my SystemJS config:
`'ng2-bs3-modal':              'npm:ng2-bs3-modal'`

The README examples work fine now.

[2016-09-12 15:35] lcurrens opened #103 "Demo imports Ng2Bs3ModalModule from '../src/ng2-bs3-modal/ng2-bs3-modal';"
I am having trouble getting ng2-bs3-modal working with SystemJS, importing Ng2Bs3ModalModule from the NPM install with version 0.8.1.  I am trying to do an RC6 port, using the new Ng2Bs3ModalModule.
I can't seem to get the correct systemjs.config.js configuration to allow it to properly import the Ng2Bs3ModalModule.

The Demo is importing from src, we are not able to do from the NPM install.
impor

[2016-09-12 15:41] lcurrens commented on #103
Nevermind, got it working.

[2016-09-12 15:41] #103 closed

[2016-09-12 15:41] dougludlow commented on #103
Sweet!

[2016-09-12 17:00] dougludlow commented on #99
@curlyfro success?

[2016-09-12 17:03] curlyfro commented on #99
sorry -- i haven't check yet.  checking now.  give me 30mins.

[2016-09-12 18:00] curlyfro commented on #99
cool -- it works!

[2016-09-12 18:00] #99 closed

[2016-09-12 18:04] dougludlow commented on #99
@curlyfro, awesome. Thanks for the followup.

[2016-09-13 09:14] TomThorpe opened #104 "Cannot read property 'onOpen' of null at new AutofocusDirective"
Hi,

First of all, thanks for writing this.

I'm getting the error `Cannot read property 'onOpen' of null at new AutofocusDirective` when I run my app with ng-bs3-modal added.

It seems like in AutofocusDirective https://github.com/dougludlow/ng2-bs3-modal/blob/master/src/ng2-bs3-modal/directives/autofocus.ts there is the part:

[code]

But in my case, modal is null (the injection is optional, and

[2016-09-13 12:44] dougludlow commented on #104
@TomThorpe, wow, not sure how I missed that one, ha ha. Thanks for letting me know, I'll work on getting a fix out soon as well as some test coverage for that so I don't break it again... 😛

[2016-09-13 13:59] TomThorpe commented on #104
No worries :-) I did wonder if I was missing something haha. Easily done though!

Thanks again

[2016-09-13 17:49] belapie opened #105 "AoT compiler : Unexpected value 'Ng2Bs3ModalModule' imported by the module 'SharedModule'"
When i'm trying to compile AoT with ngc i get this error :

`Unexpected value 'Ng2Bs3ModalModule' imported by the module 'SharedModule'`

SharedModule.ts :

[code]

TypeScript 2.0.2
Angular : 2.0.0-rc7 (not working either with rc6)

[2016-09-15 09:29] geronimo678 commented on #95
I don't not why, the issue is solved by upgrading to RC6. It works now with Angular 2.0.0 and angular-cli@1.0.0-beta.14.

Thank you very much for your work. Your modal component is very good.

Regards

Julian

[2016-09-15 09:29] #95 closed

[2016-09-15 17:06] koleary94 commented on #105
Hey @belapie . After running into a similar problem it appears that the issue is the lack of a `metadata.json` file in this project. See [this official angular thread](https://github.com/angular/angular/issues/11262) for reference

[2016-09-16 13:47] PivotalAnimal opened #107 "RC7"
Just curious if you are going to build for RC7 soon. Thanks!

[2016-09-16 14:04] jaurakunal commented on #83
@dougludlow I'm so sorry for slacking off on updating my findings on this. I'm not seeing this error anymore.

What I realized was that the *ngIf directive was interacting in a weird way with the modal component. This was at RC4. I worked around it by using ngClass to assign a display:none; instead of using *ngIf for the time being.

I'm in the process of migrating to the GA version now. Hopefully

[2016-09-20 14:37] Rambuto opened #109 "Problem after migration to stable version"
Hello, after migration to stable version i have problem with running project
Have next error:
[code]
Can you help me please ?

[2016-09-20 16:08] jcannata commented on #109
Are you compiling with TypeScript 2.0 or higher?

[2016-09-20 23:32] born2net opened #110 "ng2 2.0 yet? + demos not working..."
ng2 2.0 yet? + demos not working...

Regards,

Sean

[2016-09-21 08:44] Rambuto commented on #109
"typescript": "1.8.7"

[2016-09-21 12:42] kinkoazc commented on #110
+1 Please merge the 2.0 PR.

[2016-09-21 13:49] renehamburger opened #111 "Import jQuery if not available globally"
You should probably allow for jQuery being loaded as a module rather than being available locally in your  [modal-instance](https://github.com/dougludlow/ng2-bs3-modal/blob/master/src/ng2-bs3-modal/components/modal-instance.ts#L6), e.g. `const $ = window['jQuery'] || require('jquery')`. That is going to happen increasingly.

For anyone else encountering this, Webpack's imports loader can be used a

[2016-09-23 14:45] galvanu commented on #107
+1

And what about the official version of angular 2.0.0?

[2016-09-24 14:03] dougludlow commented on #110
@born2net, @kinkoazc - v0.9.2 should be what you're looking for.

[2016-09-24 14:03] #110 closed

[2016-09-24 14:04] dougludlow commented on #107
@PivotalAnimal, @galvanu - v0.9.2 is good to go for Angular2 v.2.0.x.

[2016-09-24 14:04] #107 closed

[2016-09-24 14:05] dougludlow commented on #109
@Rambuto - upgrade to v0.9.2. You shouldn't see these errors.

[2016-09-24 14:05] born2net commented on #110
tx!!

[2016-09-24 14:06] dougludlow commented on #111
@renehamburger I'll need to look into that.

[2016-09-24 14:07] dougludlow commented on #105
@belapie, @koleary94 - I just releases v0.9.2, is this issue still present there?

[2016-09-24 14:08] dougludlow commented on #104
@TomThorpe - sorry it took me so long to get to this, but this is fixed in v0.9.2.

[2016-09-24 14:08] #104 closed

[2016-09-24 15:45] TomThorpe commented on #104
Ah great, thanks very much!

[2016-09-24 16:05] kinkoazc commented on #110
Thank you!

[2016-09-24 22:45] RodEsV commented on #31
Any update ?

[2016-09-25 02:05] belapie commented on #105
@dougludlow the issue is still present..

`Error: Unexpected value 'Ng2Bs3ModalModule' imported by the module 'SharedModule'`

[2016-09-25 14:07] RodEsV opened #112 "close is no working!"
Once I have display the modal, I'm not able to close it.
It says error context this.modal is undefined!

Inside my component I'm using a reference to my modal View child, because I have to close the modal if some variable is true. I'm able to do it inside the .html file but no from the .ts file

Any suggestions ?

[2016-09-25 15:14] wartab commented on #112
Sounds like you're misusing this. Can you please show some code?

[2016-09-25 15:29] RodEsV commented on #112
I was writing this and I notice that I have two `@ViewChilds`  with different names.
And that was generating the problem :s
![selection_003](https://cloud.githubusercontent.com/assets/4596532/18816243/f0ed04ac-830a-11e6-8983-7f615d65a9bf.png)

[2016-09-25 17:49] dougludlow commented on #112
@RodEsV you need to move the `@ViewChild('modalError')` to just above the `modalError` property.

[2016-09-28 03:57] dougludlow commented on #112
@RodEsV were you able to get this solved?

[2016-09-28 03:58] #89 closed

[2016-09-28 03:58] #109 closed

[2016-09-28 04:27] RodEsV commented on #112
Yes, thank you. Finally I decided to remove that part

[2016-09-28 06:15] galvanu opened #113 "modal.d.ts typescript syntax error"
Hi, I'm using version 0.9.2 and getting a lot of typescript error during build in the file components/modal.d.ts

/node_modules/ng2-bs3-modal/components/modal.d.ts(16,14): error TS1005: '=' expected.
/node_modules/ng2-bs3-modal/components/modal.d.ts(16,23): error TS1005: ';' expected.
/node_modules/ng2-bs3-modal/components/modal.d.ts(17,14): error TS1005: '=' expected.
/node_modules/ng2-bs3-modal/

[2016-09-28 12:41] loliparra80 opened #114 "ModalComponent angular final version 2.0 open don't exist"
I'm working with ngModule already, but when I try to use the instance of ModalComponent inside my typescript component with viewchild:
   @ViewChild('modalEpisode') modalEpisode:ModalComponent;

when I try to use the methods for ModalComponent, like open, don't recognize the method:
this.modalEpisode.open();

 Error:
![image](https://cloud.githubusercontent.com/assets/19977368/18913695/7e5bf37c-85

[2016-09-28 16:38] dougludlow commented on #114
@loliparra80 - what does your html template look like?

[2016-09-28 16:39] dougludlow commented on #113
@galvanu - what version of typescript are you using?

[2016-09-28 16:53] dougludlow commented on #113
I compile with typescript v2 which emits readonly definitions on properties. If you're compiling with 1.8, you'll see these errors.

[2016-09-28 17:39] priesett commented on #113
I'm seeing the same thing, typescript 2.0.3 here. Started with the 0.9.7 version.

[2016-09-28 17:47] dougludlow commented on #113
@priesett - oh phew... i thought i was going crazy there for a moment. 😄

[2016-09-28 17:51] priesett commented on #113
@galvanu In my case, I needed to npm install -g typescript as my global typescript was still in v1

[2016-09-29 01:03] belapie commented on #114
@loliparra80 maybe it's because the modal.d.ts contains the new TS2.0 "readonly" and your IDE doesn't support it.

[code]

[2016-09-29 08:45] loliparra80 commented on #114
I'm using visual stuido code Insiders, until now all the libraries work fine.
HTML:

<modal [animation]="animation" [backdrop]="backdrop" size='lg' #modalPatient>
        content
</modal>

When I compile the code appear error from modal.d.ts:
node_modules/ng2-bs3-modal/components/modal.d.ts(23,38): error TS1005: '(' expected.
node_modules/ng2-bs3-modal/components/modal.d.ts(24,14): error TS1005: '

[2016-09-29 08:53] galvanu commented on #113
It was my issues as well, theank!

[2016-09-29 08:55] galvanu commented on #105
+1

Facing the same issue in my project. I work with angular 2.0.0 and use v0.9.2 which also with angular 2
@belapie , @koleary94  - do you have any solution for this?

[2016-09-30 03:16] dougludlow commented on #31
I have a working angular-cli demo here: https://github.com/dougludlow/ng2-bs3-modal-demo-angular-cli

[2016-09-30 03:59] dougludlow commented on #114
@loliparra80 - I believe vscode insiders is [still using 1.8](https://github.com/Microsoft/vscode/issues/9637). You can tell it to use your current project's version by updating the `typescript.tsdk` property of your vscode project settings file to point to the typescript instance installed in `node_modules`. See [Using Newer TypeScript Versions](https://code.visualstudio.com/docs/languages/typesc

[2016-09-30 04:00] #113 closed

[2016-09-30 04:01] #112 closed

[2016-09-30 04:02] dougludlow commented on #112
FYI, I added another [example](https://github.com/dougludlow/ng2-bs3-modal#multiple-modals-in-a-component) to the readme that shows how to use mulitple modals within a component.

[2016-09-30 05:23] dougludlow commented on #105
@belapie, @koleary94, @galvanu - try with v0.10.3. I believe I've got it working. I just needed to compile `ng2-bs3-modal` with the [@angular/compiler-cli](https://github.com/angular/angular/tree/master/modules/@angular/compiler-cli) (`ngc`).

[2016-09-30 05:50] dougludlow commented on #84
@LPalmito - I'm unable to repro this at all. Are you still noticing thie behavior?

[2016-09-30 10:50] galvanu commented on #105
@dougludlow - I updated the version and it looks like it pass this step, the problem is I have other problems in my project which fails the AoT so the build fails.
But again these are all unrelated errors to the ng2-bs3-modal so I guess building it with ngc solves this issue.
I think it is a good time for v1.0.0 ;)

[2016-09-30 14:55] diegounanue opened #115 "Uncaught ReferenceError: System is not defined"
I'm using webpack, I Install version "ng2-bs3-modal": "^0.10.3"
And in Chrome when I start the app says:

"Uncaught ReferenceError: System is not defined"

When I click on the error link it goes to this line:

System.register("ng2-bs3-modal/components/modal-instance", ['rxjs/Observable', 'rxjs/add/operator/map', 'rxjs/add/observable/fromEvent'], function(exports_1, context_1) {

[2016-09-30 16:10] dougludlow commented on #115
@diegounanue - take a look at your `tsconfig.json` and make sure that the `module` property is set to `commonjs`. See http://stackoverflow.com/questions/35075130/why-webpack-bundled-as-system-register.

FYI, i've just put up a [webpack](https://github.com/dougludlow/ng2-bs3-modal-demo-webpack) demo that might be worth checking out.

[2016-09-30 16:10] #115 closed

[2016-09-30 16:14] dougludlow commented on #111
Another way to make jQuery available globally in webpack is through the ProvidePlugin:

[code]

[2016-09-30 16:22] dougludlow commented on #111
@renehamburger - `const $ = window['jQuery'] || require('jquery')` works fine with commonjs but not systemjs. I would need a solution that works for both.

[2016-09-30 16:23] dougludlow commented on #111
@renehamburger not only that, but bootstrap requires that it is global also. This is a limitation with bootstrap.

[2016-09-30 16:24] #111 closed

[2016-09-30 16:28] #83 closed

[2016-09-30 16:41] dougludlow commented on #84
Feel free to reopen if it comes up again.

[2016-09-30 16:41] #84 closed

[2016-09-30 16:43] #114 closed

[2016-09-30 18:10] diegounanue commented on #115
Yes, I have that configuration on my project:

{
  "compilerOptions": {
    "target": "es5",
    "module": "commonjs",
    "moduleResolution": "node",
    "sourceMap": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "removeComments": false,
    "noImplicitAny": false,
    "suppressImplicitAnyIndexErrors": false
  }
}
Still having the same issue. The modal works, bu

[2016-09-30 18:16] dougludlow commented on #115
Hmm... it sounds like you're somehow including the systemjs bundle instead of the commonjs files. How are you importing/resolving ng2-bs3-modal in your project?

[2016-09-30 18:21] diegounanue commented on #115
Yes, it was my bad, I thought I have to include it like in a require ('ng2-bs3-modal/bundles/ng2-bs3-modal.js'); on a vendor.ts for webpack but that's no necessary. I just import it in the app.module.ts and it works. Thanks for the quick response! By the way very good job!

[2016-10-03 15:25] dougludlow commented on #105
@belapie, @koleary94 - any feedback?

[2016-10-03 15:29] belapie commented on #105
@dougludlow now it's working with 0.10.4!

Thanks

[2016-10-03 15:29] #105 closed

[2016-10-03 19:45] jairusm opened #116 "this.$modal.modal is not a function in 2.1.0-beta.0"
Hi, im having issue in 2.1.0-beta.0 everytime i click to open the modal. Isn't the compatibility issue?
I currently using the ng2-bs3-modal 0.10.4 version.
![image](https://cloud.githubusercontent.com/assets/19209238/19050989/9660818c-89e3-11e6-8448-6dcd8c03eaea.png)

[2016-10-03 19:49] dougludlow commented on #116
@jairusm - this error indicates that bootstrap.js hasn't been loaded. How are you including the bootstrap.js in your project?

[2016-10-03 20:00] jairusm commented on #116
Im including it in index.html. I included first the bootstrap.js then the modal after the System.import('app')

[2016-10-03 20:02] dougludlow commented on #116
@jairusm - hmm... could you provide some more code so I can get a better idea of what's going on?

[2016-10-03 20:03] dougludlow commented on #116
@jairusm - you're index.html perhaps and your systemjs config?

[2016-10-03 20:11] jairusm commented on #116
This is my index.html, but i dont have any mapping for the model in system.config
![image](https://cloud.githubusercontent.com/assets/19209238/19052202/7b4d09ce-89e8-11e6-83be-520bfe92e99f.png)

[2016-10-03 20:27] jairusm commented on #116
Btw, im using webpack :)

[2016-10-04 01:42] mptorrejon commented on #113
I was using gulp to compile my ts files. I also had to update the typescript dependency in gulp-typescript package.json and it worked fine.

[2016-10-04 07:25] renehamburger commented on #111
Yes, true. I've added another imports loader section to provide jQuery for all bootstrap files:
[code]
In other words: this issue needs to be resolved through the Webpack config file for now. Thanks for looking into this!

[2016-10-04 12:05] dougludlow commented on #116
@jairusm typically when you use webpack, it bundles all of the files into a single file and you include script tags in your index.html for just that. How are you using webpack in your case?

[2016-10-07 03:37] famecrave opened #117 "ng2-bs4-modal - SyntaxError: Unexpected token <"
Hi
Am using ng2-bs4-modal with angular 2.0.2 and bootstrap4

I did the setup as advised in https://www.npmjs.com/package/ng2-bs4-modal but am getting below error in browser. Plz can you advise.

[code]

[2016-10-07 16:40] dougludlow commented on #117
@famecrave, I'm guessing you're getting a 404 on http://localhost:8080/node_modules/ng2-bs4-modal/ng2-bs4-modal (notice there's no extension) and your web server is returning html and hence the "Unspected token <."

[2016-10-07 20:13] mhawila commented on #52
In my case I didn't have boostrap js loaded

[2016-10-09 22:49] dustin486 opened #118 "Modal closes on page update"
The modals work fine on a project that I am working on, but if you have a modal open and the page updates (it has content from Firebase that constantly changes) then the modal will close out. Note the page does not do a full refresh, just the data from Firebase updates. I looked through the open/closed issues and did not notice anything pertaining to this. This project is running Angular 2.0 with

[2016-10-10 13:37] ulou opened #119 "Error after upgrade from 0.8.1 to 0.10.4"
After updating ng2-bs3-modal from 0.8.1 to 0.10.4  and angular2 from rc6 to final 2.0.0, following errors occurs:
[code]
Following code:

[code]

any ideas?

[2016-10-10 13:43] dougludlow commented on #119
@ulou are you using typescript v2?

[2016-10-10 13:54] ulou commented on #119
@dougludlow
`"typescript": "2.0.2",`

[2016-10-10 15:01] prasadrajacse commented on #119
I am also getting the same error.

[2016-10-10 15:04] dougludlow commented on #119
@ulou, @prasadrajacse - where are you seeing this error? during compilation? what editor are you using?

[2016-10-10 15:05] prasadrajacse commented on #119
@dougludlow  I tried with both webstorm and sublime.

[2016-10-10 15:07] prasadrajacse commented on #119
@ViewChild('modal') private modal: ElementRef;
  modal: ModalComponent;
close() {
   // this.modal.close();
    this.modal.nativeElement.close();
  }

This is also failing.

[2016-10-10 15:09] dougludlow commented on #119
@ulou, @prasadrajacse - `ng2-bs3-modal` requires typescript 2. But the editor's typescript version can be different from the projects version, which was the case in #113.

[2016-10-10 15:32] prasadrajacse commented on #119
@dougludlow. My project typescript version is 2.0.3. In webstorm pointing to local typescript lib is also throwing the same error. Now the project is compiled successfully but this error msg is seen at run time. "EXCEPTION: Cannot read property 'open' of undefined"

[2016-10-10 15:34] dougludlow commented on #119
@prasadrajacse when are you calling open? it's possible that it's being called before the modal has been bound to the `modal` property.

[2016-10-10 15:38] prasadrajacse commented on #119
I am calling it in ngOnInit(). Is there anyway to bind the default properties/methods to modal before any function call ?

[2016-10-10 15:42] dougludlow commented on #119
@prasadrajacse - no, `ngOnInit` happens before the view has been initiated. You'll need to use `ngAfterViewInit`.  See [Lifecyle Hooks](https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html) for more details.

[2016-10-10 16:01] prasadrajacse commented on #119
@dougludlow I tried that before as well...this.modal is shown as undefined. Do you have any other idea ?

[2016-10-10 16:01] repzilon opened #120 "How to have modals in separate template files?"
I would like to have the modals markup in template files from their caller template file. In other words, I would like to have the following file layout :

MainScreen.component.ts
MainScreen.html
Modal1.component.ts
Modal1.html
Modal2.component.ts
Modal2.html

where MainScreen calls Modal1 and Modal2 when needed. I don't see how I can acheive that from your Readme file.

Also, how can I can call a

[2016-10-10 16:07] dougludlow commented on #119
@prasadrajacse the `modal` property isn't set until AfterViewInit. See the [ViewChild decorator documentation](https://angular.io/docs/ts/latest/api/core/index/ViewChild-decorator.html).

I don't have enough information about your project's configuration to provide much more help. Code snippets or a demo would be very useful.

[2016-10-10 16:14] dougludlow commented on #120
@repzilon you could create a component that wraps the modal component and then reuse it wherever needed.

In the project's [demo](http://dougludlow.github.io/ng2-bs3-modal/), you can see an example of opening another modal from a modal (click on the the "nested modals" button). Feel free to check out the [code](https://github.com/dougludlow/ng2-bs3-modal/blob/master/demo/modal-demo.component.html#

[2016-10-10 16:16] prasadrajacse commented on #119
@dougludlow.... Thanks for the support, I understand that my project configs needs to be changed here.I created sample app and it is working fine. If @ulou is fine you can close the ticket.I really appreciate your quality time in coming up with wonderful component, it really saves a lot of development effect. Cheers.

[2016-10-10 16:18] dougludlow commented on #119
@prasadrajacse I looking at the code you posted above, it looks like you have declared the `modal` property twice, which might be problematic:

[code]

Instead, this should simply be:

[code]

[2016-10-10 16:20] dougludlow commented on #119
@ulou i'm guessing this is an issue with your editor's typescript version being out of sync with your projects. Any detail you can provide would be great.

[2016-10-10 16:22] dougludlow commented on #118
@dustin486 - interesting. I haven't tested that scenario exactly. Could you provide some more details on how you're using the modal? Code snippets or demo project?

[2016-10-10 16:24] dougludlow commented on #117
@famecrave have you had any luck figuring out what's going on here?

[2016-10-10 16:54] dustin486 commented on #118
I do not have the code in front of me right now, but I got to thinking about it later last night. All of the data from firebase is presented on the page inside of div's with the angular for loop. I was creating a separate modal inside each div so that it could (easily) have the data for that specific one. Once you clicked inside of that div, it would open the modal. As soon as any div on the page

[2016-10-10 16:57] dougludlow commented on #118
@dustin486 sure, that would be great.

Yeah, that makes sense. When the firebase call comes back you may want to merge it into the existing array instead of replacing it as that will cause it to "redraw" everything. There's probably other ways to approach that as well, I'll do some research and see what I come up with.

[2016-10-10 17:06] dougludlow commented on #118
@dustin486 - might be as simple as specifying `trackBy` in the `ngFor`:

See [NgFor](https://angular.io/docs/ts/latest/api/common/index/NgFor-directive.html#!#ngForTrackBy-anchor).

[2016-10-10 19:30] mhawila commented on #9
@lsiden did you manage to make this work? It is driving me nuts!

[2016-10-10 19:39] dougludlow commented on #9
@mhawila I have a working angular-cli demo here: https://github.com/dougludlow/ng2-bs3-modal-demo-angular-cli, if it helps.

[2016-10-10 20:30] mhawila commented on #9
Thanks @dougludlow, unfortunately I am using angular2-seed (https://github.com/mgechev/angular-seed).

It is strange this happens only when I try to run the tests but when I ran the app with `npm start` it runs just fine!

[2016-10-10 20:31] dustin486 commented on #118
@dougludlow was correct, trackBy is exactly what was needed in this situation. Just added it to the for loop statement. Simple fix. Thanks again!

[2016-10-10 20:31] #118 closed

[2016-10-10 20:33] dougludlow commented on #9
@mhawila if you want to open a new issue and provide some more details, I'd be more than happy to do some troubleshooting with you.

[2016-10-10 20:58] jpat82792 opened #121 "Problems implementing custom-sized modal"
I've been able to implement the Modal component successfully in one of my own components. I am able to resize it using modal-lg and modal-sm respectively. However, I would really like to have a custom sized modal. Below is the current attempt at making it resize. I just included portions I thought would be relevant to the discussion.

From component.ts:
`    cssClass: string = 'modal-lg';`
From co

[2016-10-10 21:04] dougludlow commented on #121
@jpat82792: The way that you're using it is correct. It might just be that you need to use a different class name because it clashes with the bootstrap `.modal-lg` class.

[2016-10-10 21:12] jpat82792 commented on #121
So I updated the component.ts:
`cssClass: string = 'expand-modal'`

The css:
`.expand-modal{
width:1100px;
}`

Still no change.

[2016-10-10 21:15] dougludlow commented on #121
@jpat82792: hmm... I don't understand. That should work. Let me put together a demo project tonight and see what I come up with.

[2016-10-10 21:18] dougludlow commented on #121
@jpat82792 when you inspect your modal in the broswer, is the `.expand-modal` not being applied to it?

[2016-10-10 21:21] jpat82792 commented on #121
It appears to be. I posted what the modal tag contains below.

`<modal _ngcontent-tmp-4="" class="modal in" role="dialog" tabindex="-1" ng-reflect-animation="false" ng-reflect-backdrop="true" ng-reflect-keyboard="true" ng-reflect-css-class="expand-modal" data-keyboard="true" data-backdrop="true" style="display: inline;">
        <div class="modal-dialog expand-modal" ng-reflect-klass="modal-dialog

[2016-10-10 21:21] dougludlow commented on #121
hmm... is the component.css getting pulled in?

[2016-10-10 21:24] jpat82792 commented on #121
Yes, I have a bootstrap grid system in <modal-body> that is working as expected

[2016-10-10 21:25] dougludlow commented on #121
but the actually `component.css` file? are other classes in there working?

[2016-10-10 21:26] jpat82792 commented on #121
Sorry I misunderstood. Yes, I have some custom styles working on the page, and have also changed font colors on the modal itself.

[2016-10-10 21:43] jpat82792 commented on #121
I will make a new component and try out the resize class. I will let you know if that one works. I probably messed something up within one of the files. I have to take care of some errand (should take about 4hrs) and then I will come home and create an minimum viable example. Don't waste your valuable time till I can determine if this is a real problem. I really appreciate your help!

[2016-10-10 21:45] dougludlow commented on #121
@jpat82792 sounds good, thanks!

It's weird that the class is on the element, yet the styles aren't being applied.

[2016-10-11 00:51] jpat82792 commented on #121
Well, I did not have any luck with the MVE. I was unable to resize it after creating brand new stripped down files. I would really appreciate if you could run it in your environment and see if the same happens to you. If it doesn't, I probably have something weird going on with my dev environment. Thanks for your help!

modal-test.component.ts
[code]
modal-test.component.html
[code]
modal-test.com

[2016-10-11 04:46] dougludlow commented on #121
@jpat82792 I figured out what's going on here. When you include styles in a component, it emulates shadow dom and scopes the css styles to the component's element. However, this doesn't work for the `ng2-bs3-modal` because it is attached to the body. To get around this you have to:

See [Component Styles](https://angular.io/docs/ts/latest/guide/component-styles.html#!#-deep-) for more details.

Fo

[2016-10-11 06:08] jpat82792 commented on #121
Thank you for your help! I really appreciate it!

[2016-10-11 06:08] #121 closed

[2016-10-11 09:46] mhawila commented on #9
@dougludlow thanks for your offer. I had to use the below configuration
`
map: {
    'ng2-bs3-modal': 'ng2-bs3-modal/bundles'
  },
  meta: {
    'ng2-bs3-modal': {
      format : 'register'
    }
  }
`
It seems systemjs was not able to resolve the type of module being loaded.

[2016-10-11 12:08] dougludlow commented on #121
You're welcome!

[2016-10-11 14:20] diegounanue opened #122 "There's anyway to add validation"
There's anyway to add validation - like required?

[2016-10-11 15:06] dougludlow commented on #122
@diegounanue yes, it's very easy, just basic angular2. I've added an [example](https://github.com/dougludlow/ng2-bs3-modal#modal-with-validation) to the readme. Check it out and let me know if you have any questions.

[2016-10-11 15:06] #122 closed

[2016-10-11 15:14] dougludlow commented on #116
@jairusm any updates here?

[2016-10-11 15:16] dougludlow commented on #117
Closing for now. Feel free to open if you're still experiencing issues.

[2016-10-11 15:16] #117 closed

[2016-10-11 15:16] dougludlow commented on #119
@ulou - closing for now, feel free to reopen if you're still experiencing issues.

[2016-10-11 15:16] #119 closed

[2016-10-11 15:18] dougludlow commented on #55
I believe this has been resolved in Angular itself. I have tested having the modal in NgFor and it appears to work as expected.

[2016-10-11 15:18] #55 closed

[2016-10-11 16:33] jmny commented on #116
i think I have the same problem, i use angular 2.0.1 and     "ng2-bs3-modal": "^0.10.4"

![capture d ecran de 2016-10-11 18-25-55](https://cloud.githubusercontent.com/assets/216424/19279129/58400b90-8fe0-11e6-9ca1-e72b6ec1d6b0.png)

my code

`
@Component({
      selector: 'zones',
      template: `
      <div class="container-fluid">
//...
<modal #product >
      <modal-header [show-close]="true">

[2016-10-11 17:26] dougludlow commented on #116
@jmny how are you loading `bootrap.js`?

[2016-10-11 21:43] jmny commented on #116
the mistake was here, bootstrap.js wasn't loaded. thank you :)

[2016-10-12 10:25] EddyP23 opened #123 "component/modal.d.ts fails on compile"
Hi,

I imported ng2-bs3-modal as a dependency in package.json and also imported it into my module of Angular 2 app. Whenever I try running gulp serve-dev it fails with the following:

============ Angular 2 Starter ============
Current environment: development
- Change environment via --env or NODE_ENV
- env.json is detected. 1 values loaded.
===========================================
[13:14:52]

[2016-10-12 13:11] dougludlow commented on #123
@EddyP23, what's your actually typescript version (not gulp-typescript)? `ng2-bs3-modal` requires typescript 2.0 or later. This error indicates that your version is most likely not greater than 2.

[2016-10-12 21:58] mounikaymrs commented on #57
I have the same issue. I came across several hacky solutions but not a proper one yet.

[2016-10-14 07:56] EddyP23 commented on #123
@dougludlow Thanks, that helped! My typescript version was around 1.8.x, after upgrading it to 2.x it fixed the issue!

[2016-10-14 07:57] #123 closed

[2016-10-17 10:08] basherr opened #124 "modal-header is not a known element"
I've just copied the below example and pasted into my html component but I get error saying `modal-header` is not known element

[code]

[2016-10-17 11:48] #124 closed

[2016-10-17 12:44] dougludlow commented on #124
@basherr what ended up being the problem?

[2016-10-17 12:58] basherr commented on #124
I have imported `Popmodule` into `appModule` and while using it in a seprate `Modul`. I ended up by using it in the same `Module` which worked.

[2016-10-19 19:34] guzmo commented on #116
Have the same error, when removing this from my webpack, just for testing different things :P
[code]

I get
`Uncaught Error: Bootstrap's JavaScript requires jQuery`

So I guess both jquery and bootstrap is loaded but still that error hmm

[2016-10-26 15:30] tabareh opened #125 "npm install fails with bootstrap 4 and angular 2 latest version"
here are the error messages from npm:
+-- UNMET PEER DEPENDENCY @angular/common@^2.0.0
+-- UNMET PEER DEPENDENCY @angular/compiler@^2.0.0
+-- UNMET PEER DEPENDENCY @angular/core@^2.0.0
+-- UNMET PEER DEPENDENCY @angular/platform-browser@^2.0.0
+-- UNMET PEER DEPENDENCY @angular/platform-browser-dynamic@^2.0.0
+-- UNMET PEER DEPENDENCY bootstrap@~3.3.x
`-- ng2-bs4-modal@0.1.2

[2016-10-26 15:33] dougludlow commented on #125
@tabareh what does your package.json look like?

[2016-10-26 15:33] dougludlow commented on #125
@tabareh, btw, `ng2-bs3-modal` only supports bootstrap 3.

[2016-10-27 06:27] tabareh commented on #125
yeah, I have boostrap 4 and the modals look pretty similar. why not supporting it? you have my package.json attached

[package.zip](https://github.com/dougludlow/ng2-bs3-modal/files/555089/package.zip)

[2016-10-27 08:48] renehamburger commented on #87
We've solved the hiding/showing of the dialog differently to ensure that the template code within the dialog is not parsed until the dialog is actually being shown the first time. The basic idea is to use an input-output property in addition to the ngIf to trigger the showing of the modal:

[code]

[code]

We've actually moved the code above into a base class we're using for all modals, but this i

[2016-10-27 15:21] felipelvira commented on #105
Hi @dougludlow , I'm still facing this issue.
ng2-bs3-modal -v : 0.10.4
angular-cli : 1.0.0-beta.18

[2016-10-29 18:51] piltorious opened #126 "Autofocus.ts causing problems"
Using this modal with various HTML 5 inputs, autofocus attribute not set. When we call modal .open autofocus.ts calls focus for every element inside our modal. This causes Angular validators to fire and error as well as input focus events to execute when they shouldn't. Autofocus.ts subscribes to the .onOpen event, why is called with all modal child elements passed in?

[2016-10-30 14:42] Nobody84 commented on #9
@nickhod & @dougludlow
I got the same error today and a recognized that my app wants to load
`http://localhost:3000/node_modules/ng2-bs3-modal/ng2-bs3-modal`
instead of
`http://localhost:3000/node_modules/ng2-bs3-modal/ng2-bs3-modal.js`

Then I set the default extension for ng2-bs3-modal to .js and it worked for me.
Here the importand lines of my systemjs.contig.js
``
packages: {
  ...
  'ng2-bs3-

[2016-10-30 16:19] nguni52 commented on #9
Thank you.

I had done the same, as I had noticed it wasn't loading as expected, and it loaded.

Cheers,

--
Nguni Phakela
Twitter: @nguni52
Cell: 061-131-2053
Sent from my iPhone6 Plus

[2016-10-31 09:59] talha-khan-10p commented on #116
Having same error.
Importing jquery and bootstrap in vendors.ts didn't work because bootstrap.js needs jquery(initialized jquery).

This solves my issue:
https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery)

Basically, the solution is to load bootstrap through some loader that ensures that jquery is properly imported.

[2016-10-31 19:09] piltorious commented on #126
Figured out this was our implantation issue. Had to set autofocus differently. Thanks.

[2016-10-31 19:09] #126 closed

[2016-11-01 11:20] estradamarkie opened #127 "Using ng2-bs3-modal with Angular2-cli 2.1.0"
I've managed to import the project okay however I'm getting a console.log error of `SyntaxError: Unexpected token <` I've also imported Bootstrap 3.3.7 but still getting the same error even for Bootstrap.

I don't get any network error regarding 404 of the modal, so it is being loaded correctly.

Any idea about this?

[2016-11-01 21:55] dbohl commented on #119
I just started using this, but I'm having this same issue.  I tried v0.8.1 as the original posted mentioned, and verified that makes the problem go away.

I'm using WebStorm and typescript 2.0.3.  WebStorm is configured to use settings from tsconfig.json, whose target is "es6".

I'm currently using this as a work-around:
`this.agentModal["close"]();`

[2016-11-02 11:36] rajshrimohanks commented on #127
Having the same issue here.

[2016-11-03 10:22] VolosUra commented on #124
import { Ng2Bs3ModalModule } from 'ng2-bs3-modal/ng2-bs3-modal';

[2016-11-06 11:57] matthewhegarty commented on #116
I had the same issue when using angular-cli (`1.0.0-beta.19-3`).  The solution was to ensure that bootstrap.js was present in the scripts declaration in angular-cli.json:

[code]

[2016-11-08 11:25] basherr opened #128 "modal properties not working"
When clicked outside of the modal, it get's hidden while `backdrop` property is set to `static`. Also
`keyboard` set to `false` does not work as well.

System: Windows 8
Browser: Chrome latest
[code]

[2016-11-08 23:25] avoliva opened #129 "Karma/Jasmine test & template issues."
I've created an app using this library. No problems, library works fine. Though when I'm trying to unit test, I'm getting these errors:

[code]

It seems the components are not getting loaded in the tests for whatever reason, even though I've loaded the files through the `karma-conf` file. Here's how I've loaded them in `karma.conf.js`

`{ pattern: 'node_modules/ng2-bs3-modal/**/*.js', included: f

[2016-11-10 08:57] kkzhang opened #130 "Animation not works as expect"
In a project created angular-cli, (anguliar cli version: angular-cli: 1.0.0-beta.18, angualr2 version: 2.1.2)
i also use bootstrap & jqury from npm:

    "bootstrap": "^3.3.7",
    "jquery": "^3.1.1",

the modal can be successfully trigged, but the fadein/out animation not works, when i click to open/close, the whole page flashed, seem the fadein/out not working properly.

I try to include

[code]

[2016-11-14 21:06] zevisert commented on #127
Likely your server is returning your index html. You've probably configured your app to handle deep links by returning index.html when you don't hit anything else. The `Unexpected token <` is probably from the top level `<html>` tag in your index. Verify the response is correct - then reconfigure your loader to provide ng2-bs3-modal.js when requested.

[2016-11-14 21:51] M41in4 commented on #129
https://angular.io/docs/ts/latest/testing/#!#shallow-component-test Take a look at this, maybe it will help. NO_ERROR_SCHEMA tells compiler to ignore unrecognized elements and attributes, so this should solve your problem.

[2016-11-15 12:44] oras opened #131 "Modal.open() Error"
[code]

[2016-11-15 12:49] oras commented on #131
the html form modal

<link rel="stylesheet" href="forms.css">

<modal #modal>
    <modal-header>
        <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
        Hello World!
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn

[2016-11-15 15:29] oras commented on #131
Now I get the following error

caused by: Object doesn't support property or method 'modal'

[2016-11-15 22:22] avoliva commented on #129
Hey, thanks that appears to have worked! Maybe this should be put into the docs in relation to testing?

[2016-11-16 11:50] oras commented on #131
I needed to include the Jquery and bootstrap different because using system js.
now no errors are display but the popup refuse to show up,
any clues?

[2016-11-16 12:45] oras commented on #131
Ok Installed  bootstrap 4, and used the following dependencies on the following link:
http://v4-alpha.getbootstrap.com/getting-started/introduction/

work like a charm !

[2016-11-16 12:45] #131 closed

[2016-11-16 15:57] dougludlow commented on #131
@oras thanks for documenting your experience. Glad you got it all working!

[2016-11-17 14:57] DiasAmanda commented on #113
I am using VS2015, when I run tsc -v   I have TypeScript version 2.0.9
When I go to 'Help / About Microsoft Visual Studio', I have TypeScript version 2.0.6
I tried to unload the project and edit the project, setting the <TypeScriptToolsVersion> to 2.0, instead of 1.8 as it was, but I only get more errors...
So I returned this var to 1.8, and just have errors with this file 'modal.d.ts', the same e

[2016-11-21 19:20] ivytruong opened #132 "jquery is not defined error"
Hello,

I am new to angular2 and is developing a small app for my job. I google and found your modal module that is for angular2 and bootstrap3.7 . I install the package and the compiler did not give any error but when i run the page, it will log the error of the "jquery is not defined". I wonder is there a way you do to fix it?

[2016-11-21 20:50] hyacinthxinxin commented on #132
- inline template:34:0 caused by: jQuery is not defined
ReferenceError: jQuery is not defined

the same issue.

[2016-11-25 09:13] sireneweb opened #133 "Draggable modal"
Hi,
is it possible to drag modal like this ?
http://stackoverflow.com/questions/27120579/jquery-draggable-with-bootstrap-modal-scroller-strange-behaviour

[2016-11-26 14:33] fxcosta commented on #132
Same issue:
inline template:94:8 caused by: jQuery is not defined

after a npm update this stop work

[2016-11-29 13:32] subhani1249 opened #134 "No provider for ModalComponent! (error)"
EXCEPTION: Uncaught (in promise): Error: Error in ./ActionItemComponent class ActionItemComponent_Host - inline template:0:0 caused by: No provider for ModalComponent!
Error: No provider for ModalComponent!
![err1](https://cloud.githubusercontent.com/assets/10893928/20711557/515c8144-b666-11e6-9b1d-3fb803873c06.PNG)

[2016-11-30 05:23] #134 closed

[2016-12-05 10:30] estradamarkie opened #135 "How to make the modal stay open"
Hi,

I don't know if this is possible at all but I will ask anyway, how do I make the modal stay open even when my function for `*ngFor` function refreshes/re-trigger when `setInterval` fires in the constructor?

Say I have this code to show my item list:

Constructor setInterval to trigger the function `getItems()` every 30seconds. Every time this fires it closes the modal, I just want the lists

[2016-12-05 11:09] estradamarkie commented on #135
Nvm found a way :)

[2016-12-05 11:09] #135 closed

[2016-12-09 21:23] TheColonel2688 opened #136 "ng2-bs3 module will not load"
I can not get ng2-bs3-modal to load. It results in a

systemjs.config.js
[code]

app.component.ts
[code]

app.module.ts
[code]
gulpfile.js
[code]

package.json
[code]
![sb-ben 2016-12-09 - 16-11-31-001](https://cloud.githubusercontent.com/assets/8753759/21064721/630b6696-be2a-11e6-9a01-43b3f386851e.png)

![image](https://cloud.githubusercontent.com/assets/8753759/21064972/f3ea388a-be2b-11e6-9734-c

[2016-12-10 01:27] born2net commented on #17
having same issue
[code]

with angular-cli

any ideas?

[2016-12-10 03:05] born2net opened #137 "this.$modal.appendTo(...).modal is not a function, with angular-cli"
I converted from jspm to ng-cli and getting:
[code]
I have loaded both jQuery and bootstrap

any suggestion?

[2016-12-10 03:09] born2net commented on #137
fixed

[2016-12-10 03:09] #137 closed

[2016-12-10 03:10] dougludlow commented on #137
What did you end up doing?

[2016-12-10 03:11] born2net commented on #137
well I hacked it by putting in index.html
[code]
seems to be a jQuery conflict issue, I am still investigating, but related to jQuery overriding something...

[2016-12-16 09:43] vdzundza opened #138 "How to access to the child modals which are generated in the ngFor?"
Hi mates,

I put the modals to the ngFor and want to access to an instance inside template .

[code]

[2016-12-16 19:14] dougludlow commented on #138
@vdzundza - sure that should be as simple as using the `@ViewChildren` annotation in your component class, which is unfortunately not very well documented yet. Basically, it should look something like this:

[code]

[2016-12-18 15:12] JimTheMan opened #139 "Modal Backdrop Doesn't Disappear When Changing Routes"
In a handler function for my close button I have this code:

[code]

It switches to the route and closes the modal, but the darkened backdrop is still there, staying in front of the whole page and making the new page look very dark and weird...

[2016-12-18 15:18] #139 closed

[2016-12-18 23:24] dougludlow commented on #139
What did you end up doing?

[2016-12-19 03:52] JimTheMan commented on #139
It was just a mistake by me calling modal.open() again. haha. I'm using a custom close button in the footer since I want it to do some api call and depending on the result sometimes it leaves the modal open and sometimes it closes the modal and goes to a new page. For the second case, doing something like this works for me:

[code]

[2016-12-20 11:47] mehtak opened #140 "modal.close() is throwing error "Expression has changed after it was checked""
I am creating a parent-child relationship to show ng2-bs3-modal. Parent component has a table. After collecting user inputs on Child modal dialog (ng3-bs3-modal component) I am closing the dialog and making an http get call to load table data. If I call modal.close() and then make the http call, the following error is displayed and http result is not returned.

`error_handler.js:46 EXCEPTION: Erro

[2016-12-20 20:36] MilanRaval opened #141 "Web Pages freezes when options is selected from a drop-down on modal only on iPhone"
In web page I have used this modal and it has one drop-down. On iPhone when I am selecting any value from drop-down it freezes the web page and it can't be un-freeze till I change orientation on iPhone. What can be the issue, how to debug ?

[2016-12-23 10:50] aminsmartsense opened #142 "How to open the md2-dialog from .ts file instead of html file in angular2"
I have one view file. In which I have two md2-dialog . one for add data and second for edit data. On edit button of each row. I want to first get the data as respective to the data and then I want to open the dialog.

I want to open dialog after API's  successful response. Please provide solution.

[2016-12-23 11:48] JoSeTe4ever commented on #132
It is happening to me as well, Just added the dependency on the package.json file , npm install and Jquery is not defined ...

[2016-12-23 16:12] zsmorgan21 commented on #120
@dougludlow Can you please provide more information on @repzilon 's first question? How would the modal components be loaded dynamically without leaving the "MainScreen" component?

[2016-12-26 15:49] furydam opened #143 "AOT compilation with ng2-bs3-model"
Hi guys,

I have got this errors during rollup the project.

[code]

I've added the ng2-bs3-module to my ngModule import section and also updated the vendor.js file with import statement for a ng2-bs3 modal component.

My app.module.ts is listed below

[code]

Does anyone know how to fix AOT compilation?

[2016-12-27 12:16] nov10 opened #144 "Element module not present in angular 2.4.0. So modal not compiling."
package.json
` "@angular/core": "~2.4.0",`
 ` "ng2-bs3-modal": "^0.10.4",`

modal.ngfactory.ts
`import * as import2 from '@angular/core/src/linker/element';`

Since its not found, code is not compiling. Is there any easy way to get this working, like element_ref of something ?

[2016-12-28 09:19] #144 closed

[2016-12-28 09:20] nov10 commented on #144
My bad. Someone had added sourcecode, with ngfactory files. And is failing to compile.
I've removed the source code and instead referring it from node_modules. Working fine.

[2016-12-28 14:52] nirav-upadhyay opened #145 "Should not close the modal if I click anywhere else"
Hi,

I want to show the backdrop and should close the popup only on clicking the button Close/OK, currently when i click anywhere else on screen it closes the modal.

Regards,
Nirav

[2016-12-28 15:59] dlarr opened #146 "ng2-bs4-modal : Open/close from parent : Could not read property open of undefined"
Hello,

I have been trying this modal. Thank you very much for this work.

I simply put the default modal example, in my template. It works pretty well if I use :
`<button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>`

Though I want to use :
`div class="f-right fa fa-user-plus clickable" (click)="addUser()"></div>`

And then in my parent component :
[code]

I get

[2016-12-29 08:43] dlarr commented on #146
Hello,

Dumb me : in fact I was declaring the modal like this :
[code]

And in HTML i Was declaring this :
[code]

Obviously myModal must match this #modal so I have changed to #myModal.

You can close :)

Great job, nice lib by the way : thank you so much.

[2016-12-29 14:24] dougludlow commented on #146
:thumbsup:

[2016-12-29 14:24] #146 closed

[2016-12-29 14:43] dougludlow commented on #145
@nirav-upadhyay you can do this by settings `backdrop="'static'"`. The [docs](https://github.com/dougludlow/ng2-bs3-modal#static-modal) show an example of this:

[code]

[2016-12-29 14:43] #145 closed

[2016-12-29 15:54] dougludlow commented on #143
@vdzundza are you using angular-cli? What command are you using to compile your project?

[2016-12-29 15:55] dougludlow commented on #142
@aminsmartsense feel free to take a look at the project's [readme](https://github.com/dougludlow/ng2-bs3-modal#opening-and-closing-the-modal-from-a-parent-component), it show's exactly how to do this:

[code]

[2016-12-29 15:55] #142 closed

[2016-12-29 15:57] dougludlow commented on #141
@MilanRaval can you provide some example code? It's hard to troubleshoot without any code.

[2016-12-29 15:58] dougludlow commented on #140
Hmm... I'll have to see if I can replicate this issue.

[2016-12-29 16:00] dougludlow commented on #136
It looks like your being served up html (guessing from the "Unexpexted token <").

[2016-12-29 16:03] dougludlow commented on #127
@estradamarkie @rajshrimohanks you can also take a look at the [angular cli demo](https://github.com/dougludlow/ng2-bs3-modal-demo-angular-cli).

[2016-12-30 15:11] dougludlow commented on #132
There are so many permutations as far as project setups are concerned. Are you using webpack? angular-cli? SystemJs? Plain ol' npm?

[2016-12-30 15:13] dougludlow commented on #130
Sorry I've never responded to this, it's been a busy few months. I haven't seen that at all. If you're still experiencing issues, you may want to check out the [angular cli demo](https://github.com/dougludlow/ng2-bs3-modal-demo-angular-cli).

[2016-12-30 15:14] #129 closed

[2016-12-30 15:16] dougludlow commented on #128
Wow, totally skipped this issue. Sorry for never responding. I haven't been able to replicate this.

[2016-12-30 15:19] dougludlow commented on #120
@zsmorgan21 I'm not sure what you're asking exactly, could you elaborate?

[2016-12-30 15:21] dougludlow commented on #133
@sireneweb sorry I never responded to this. Things have been busy. I imagine there's a way to extend the modal to be draggable. I won't implement that feature, but I'm open to pull requests.

[2016-12-30 15:21] #133 closed

[2016-12-30 15:22] dougludlow commented on #136
Also, feel free to check out the [systemjs demo](https://github.com/dougludlow/ng2-bs3-modal-demo-systemjs).

[2016-12-30 15:24] dougludlow commented on #138
Let me know if that didn't work.

[2016-12-30 15:24] #138 closed

[2016-12-30 15:27] dougludlow commented on #140
@mehtak you might check out the comments on https://github.com/angular/angular/issues/6005 and see if any are helpful. Without a working demo, it's hard for me to replicate.

[2016-12-30 16:00] MilanRaval commented on #141
thanks !

This is how I am using modal,

`<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
       (onOpen)="opened()" [cssClass]="cssClass" #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Search</h4>
    </modal-header>
    <modal-body style="font-size:medium">
        <div class="form-horizonta

[2017-01-02 19:21] verasztol commented on #132
Hi!

Same for me. I use the default project config of webstorm angular-cli.

EXCEPTION: Uncaught (in promise): Error: Error in ./ModalDialogComponent class ModalDialogComponent - inline template:1:2 caused by: jQuery is not defined
ReferenceError: jQuery is not defined
    at ModalInstance.init (http://localhost:4200/vendor.bundle.js:69449:23)
    at new ModalInstance (http://localhost:4200/vendor

[2017-01-03 09:09] TristanVeyet opened #147 "__WEBPACK_IMPORTED_MODULE_3_jquery__ is not a function"
Can replicate using your own angular-cli project in few steps:
[code]
Project compiles and works.
As in my project i need bootstrap (for responsiveness) and jQuery, i added typings this way:
[code]
I use jQuery in modal-demo.component.ts:
[code]

And then:
[code]
Project compiles but don't works.
There are errors in the console:
`TypeError: __WEBPACK_IMPORTED_MODULE_3_jquery__ is not a function`

[2017-01-03 15:44] dougludlow commented on #147
Bootstrap requires that jQuery is global, a limitation of Bootstrap. I'm guessing you'll need to use it globally throughout your project as webpack doesn't want to include it twice.

Instead of:

[code]

Do this:

[code]

[2017-01-04 06:41] TristanVeyet commented on #147
It's a pity, i used `import * as jquery from 'jquery';` for typings and intellisense.
I won't be able to use it anymore.

[2017-01-04 11:03] dougludlow commented on #147
@TristanVeyet give this a try:

[code]

You can give it a type instead of just `any`.

[2017-01-09 13:07] TristanVeyet commented on #147
Thanks for your hint but give it a type require to import Jquery and it's precisely what's cause me a problem because reference is loaded twice
- First by the script loading in the angular-cli.json (that's required by the bootstrap library)
- and then by the import * as jQuery from 'jquery';

I found this link that is interresting to understand he problem:
https://weblog.west-wind.com/posts/2016/S

[2017-01-09 15:55] dougludlow commented on #147
@TristanVeyet you don't need to import a library in order to get the typing for it. Simply including the typing file and referencing the type is enough.

[2017-01-10 08:43] TristanVeyet commented on #147
@dougludlow if i don't import the jQuery library, declare a variable as jquery like you said: `declare var jQuery: jQuery;` throw an error.
But when i declare no variable, $ and jQuery are available (i guess that importing jquery script in angular-cli.json make them global) so its solves my problem.
Thanks for your help and congrats for your job.

[2017-01-10 09:36] jairusm commented on #116
Sorry for the very late reply and for the misunderstanding regarding webpack as i have two projects.. I was able to make it working by adding this "import 'bootstrap'" to the component where im using the modal :)

[2017-01-10 09:45] #116 closed

[2017-01-10 09:45] #147 closed

[2017-01-12 10:35] kanchansingh1123 commented on #147
Is there any solution around it ? facing same issue.

[2017-01-13 11:28] beneschmidt commented on #120
Simply put the modal logic and templating into seperated files (just like stated in the question). From your **MainScreen.html** page, you can use the component just as any other component with the element tag, something likes this:
`<modal1 #modal1></modal1>`
Notice the _modal1_ attribute name. By giving the component this identifier, you can call public functions of your modal component. For exa

[2017-01-13 20:38] vernjensen opened #148 "Modal positioning?"
Is there a way to specify position of the modal? When I display a "confirm" modal inside of a "add/edit/delete" modal, the confirm appears at the top of the parent modal. I'd like it to appear in the middle, but I don't see anything for setting position in the API.

[2017-01-13 21:07] dougludlow commented on #148
@vernjensen no, this would something you'd accomplish with css.

[2017-01-13 22:55] kcrossman opened #149 "Multiple calls to modal.open() from parent element stacking backdrops"
I have a modal where its open() method is being called multiple times from Angular2. During each call to open(), a backdrop is created behind the modal while the modal closes and re-opens itself. Clicking on anything that closes the modal only removes the last backdrop. For example, calling open() manually 3 times creates 3 backdrops and closing the modal only closes the last one, leaving 2 backdr

[2017-01-14 05:47] dougludlow commented on #149
@kcrossman wouldn't the ideal behavior be that if open is called and the modal is already open, that nothing happens?

[2017-01-15 13:31] Ferhatos opened #150 "Parent width decrease after close"
Hello,
With angular 2 and routing, open many modal at more than 3 levels is not working.
As a workaround, I close modal of previous level before open next.
My problem is :
- If I close programatically last opened modal before open next, It's working fine. But when I close the last opened modal (the only opened), the "main-cointainer" decrease the witdh per 17pix !

To reproduce this issue, just op

[2017-01-17 11:42] alpeshv opened #151 "Unexpected value 'undefined' imported by the module 'AppModule'"
Getting "Unexpected value 'undefined' imported by the module 'AppModule'".

`import { Ng2Bs3ModalModule } from 'ng2-bs3-modal/ng2-bs3-modal';` imports Ng2Bs3ModalModule as undefined.

My systemjs.config.js has got the following mapping.
`'ng2-bs3-modal/ng2-bs3-modal': 'npm:ng2-bs3-modal/bundles/ng2-bs3-modal.js'`

Not sure if there is anything changed in the latest version or its just me doing som

[2017-01-17 14:23] winni4eva commented on #151
try
---------------------------------------
import { MODAL_DIRECTIVES, ModalComponent } from 'ng2-bs3-modal/ng2-bs3-modal';
declarations: [ AppComponent, MODAL_DIRECTIVES]
---------------------------------------

But not working for me now. using angular 2.2.0

[2017-01-17 15:15] alpeshv commented on #151
@winni4eva Thanks. I am using 2.4.0 so that could be the issue.

I am not using this package anymore. I have created my own simple component for modal.

[2017-01-17 20:34] kcrossman commented on #149
Preventing open based on if modal.visible is true only works if the modal has appeared. In my case, it would be called multiple times before it had actually opened so the backdrops duplicate before the modal is done opening. This did work for a time but using the modal in many different components proved that it wasn't sufficient at removing the backdrops. Also, the most-recent version of the moda

[2017-01-18 11:48] tomaszcysewski opened #152 "TypeError: Cannot read property 'close' of undefined"
Hello,

I implemented this modal and it works but console throws errors like this

`EXCEPTION: Uncaught (in promise): TypeError: Cannot read property 'close' of undefined
TypeError: Cannot read property 'close' of undefined
    at SafeSubscriber._next (http://localhost:4200/main.bundle.js:239:31)
    at SafeSubscriber.__tryOrUnsub (http://localhost:4200/vendor.bundle.js:566:16)
    at SafeSubscrib

[2017-01-18 16:42] dougludlow commented on #152
@tomaszcysewski what does your implementation look like? Take a look at #50, it's probably similar to what you are experiencing.

[2017-01-18 16:44] dougludlow commented on #151
Hi guys, I haven't tested with the latest version of Angular. I don't have any active projects at the moment using this modal. I'll take a look when I get a moment. In the mean time if anyone wants to try to take a stab at figuring out what's going on, that would be helpful.

[2017-01-18 16:45] dougludlow commented on #150
@Ferhatos thanks for reporting this. I'm a little slammed at the moment, but I'll take a look at it when I get a chance.

[2017-01-18 16:49] dougludlow commented on #149
No, this would probably need to be an internal change. I'd need to track the state of whether or not it is opening and cancel any calls to `open()` if the modal is opening or open. I'm a little busy at the moment, but I'll see what I can cook up here when I find the time.

[2017-01-20 15:25] lirongfei123 commented on #143
me too!
here is my compile option
### tsconfig.json
[code]
### rollup-config.js
[code]
### and my build code in the package.json
[code]
### the follow is the error
[code]
please help

[2017-01-22 01:35] lirongfei123 commented on #143
@dougludlow can you  help me

[2017-01-22 11:13] efstathiosntonas opened #153 "How to pass data to the modal?"
Hi, I have this snippet that comes from an *ngFor so it's being populated many times. Every profile has a unique id and i want to delete it when i prees this button:

`<a data-toggle="modal" data-target="#deleteProfile" (click)="deleteProfile.open()" role="button" style="color:red;"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>`

and here comes the modal:

[code]

**this is called wh

[2017-01-25 21:52] kcrossman commented on #149
Wouldn't you want to preserve the most-recent open instead?

[2017-01-27 10:04] dabi-it commented on #132
I got it to work (in my webpack project) by:
adding a reference of jquery by adding the query reference to my project:
npm install jquery --save
then add to my app.component.ts

import * as $ from 'jquery';
window["$"] = $;
window["jQuery"] = $;

[2017-01-29 04:39] sverma16 commented on #73
Any plans to fix this?

[2017-01-29 21:18] efstathiosntonas commented on #153
I ve posted the question at SO, here's the link and solution: http://stackoverflow.com/questions/41802412/how-to-pass-data-to-the-ng2-bs3-modal/41873492#41873492

[2017-02-02 04:30] ashkrit commented on #121
I wasted half of the day and then got to this page. Thanks for it.

[2017-02-03 06:22] kevado commented on #149
I have the same issue but I in my case the body "modal-open" class does not match the "modal-backdrop fade in" class. Meaning if I open and close modals within a certain timeframe of each other there seems to be some confusion manipulating the DOM thus leaving the two states out of sync. The end result show I ended up with one "modal-backup fade in" but no "modal-open" on the body.

[2017-02-05 12:14] Katlianik commented on #143
For me helped this steps:
1. Go to folder node_modules/ng2-bs3-modal
2. Create file tsconfig.json with next content:
[code]
3. Run tsc

[2017-02-06 12:47] MilanRaval opened #154 "Background page scrolls to top while opening dialog"
This dialog scrolls background page to top, tried setting below in css , but it didn't work
body.modal-open {
    overflow: visible;
}

[2017-02-10 05:15] saurav12 commented on #56
@dougludlow The above example you've given is not working. I am unable to import
[code]

What is the problem here. I've also looked at the demo example you've given but it doesn't give any example like we need & you've stated above. Please help!

[2017-02-10 15:34] dougludlow commented on #56
@saurav12 that example is old/outdated, please refer to the example in the readme:                     https://github.com/dougludlow/ng2-bs3-modal#opening-and-closing-the-modal-from-a-parent-component

If you are getting "Cannot read property 'open' of undefined" that is because you haven't loaded bootstrap properly. ng3-bs3-modal relies on bootstrap's javascript in order to work.

[2017-02-10 15:34] dougludlow commented on #153
@efstathiosntonas thanks!

[2017-02-10 15:34] #153 closed

[2017-02-13 03:10] lirongfei123 commented on #9
How TypeScript resolves modules

TypeScript will mimic the Node.js run-time resolution strategy in order to locate definition files for modules at compile-time. To accomplish this, TypeScript overlays the TypeScript source file extensions (.ts, .tsx, and .d.ts) over the Node’s resolution logic. TypeScript will also use a field in package.json named "typings" to mirror the purpose of "main" - the c

[2017-02-13 23:50] wartab commented on #143
I would appreciate if something could be done about this. The quickfix above works, but in larger dev environments issues are bound to occur. Granted, Angular's support for AoT seems like a second thought :)

[2017-02-14 00:15] dougludlow commented on #143
@wartab pull requests are welcome 😄. I don't currently have any projects using this and my time has been somewhat limited, but when I get a chance I'll be sure to address this.

[2017-02-17 11:43] cyrilzaharchenko commented on #128
I also experiencing issue.

[2017-02-17 12:48] dougludlow commented on #128
Are you experiencing any particular errors?

[2017-02-17 14:12] basherr commented on #128
The issue seems to be fixed with latest version. I can't replicate as well.

[2017-02-26 12:38] julianpoemp opened #155 "Set body content using [content]="html_code" or something like that"
Is there a way how I can set the modal-content using an directive like [content] or something like that?
I have to set the html code of the body content dynamically.
Here is an example of code:
`
<modal #modal_delete>
    <modal-header>
        <h4 class="modal-title">Delete</h4>
    </modal-header>
    <modal-body [content]="<b>Really?</b>">
    </modal-body>
    <modal-footer>
    </modal-footer

[2017-02-26 16:45] dougludlow commented on #155
@julianpoemp yes, simply put dynamic content in the modal body. Using your example:

[code]

[2017-02-26 17:07] julianpoemp commented on #155
Thank you. I could solve this like that:
[code]

[2017-02-26 17:07] #155 closed

[2017-03-03 14:33] diegoRodriguezAguila commented on #73
I have the same problem, but using <md-select> inside the modal. I think it would be great to have the chance to set the modal's z-index manually. Doing some tests, setting the z-index:2 for the modal and z-index:1 for the overlay makes the md-select be shown properly over the modal

[2017-03-09 16:55] Sean-Brown opened #156 "Error: System is not defined"
My project is an angular-cli project using the rc.1 version of the cli. I included the component to app.module as instructed, and added the javascript script to the "scripts" section of the .angular-cli.json file. However, when I go to run the application I open the console and notice:
![image](https://cloud.githubusercontent.com/assets/1503131/23760844/f18a0244-04be-11e7-9bfe-5c0dd7319038.png)

F

[2017-03-09 19:58] Sean-Brown opened #157 "Pre-dismiss hook"
Is there a way to hook into the pre-dismiss event (or some equivalent event that gets fired BEFORE the modal is closed)? My scenario is that I have a modal form: if the form is dirty and the user attempts to exit, then I want to pop up a confirmation modal.

I can listen to "OnDismiss" and "OnClose" events to nearly achieve this functionality, but by the point these hooks are reached, the modal ha

[2017-03-09 20:09] dougludlow commented on #157
@Sean-Brown this component is basically a wrapper around the [bootstrap modal api](http://getbootstrap.com/javascript/#modals-events). However, I'm only listening to the 'shown' and 'hidden' events at this point. I haven't added support for any other events yet, but contributions are welcome.

Resources:
[Modal Events](http://getbootstrap.com/javascript/#modals-events)
[javascript bootstrap modal

[2017-03-09 20:18] dougludlow commented on #156
@Sean-Brown what scripts did you include? The `./bundles/ng2-bs3-modal.js` is in SystemJS. Perhaps you're including that instead of the main `./ng2-bs3-modal.js` which should be UMD.

[2017-03-09 21:16] Sean-Brown commented on #156
Correct, I did import from ./bundles. I changed the import and I get a new error:
![image](https://cloud.githubusercontent.com/assets/1503131/23771081/ad2fd8b0-04e3-11e7-925c-68bc4661906d.png)

Do I need to import nodejs or something?

[2017-03-09 22:11] Sean-Brown commented on #157
I'm gonna try to do that then submit a PR. I did notice that the app doesn't build after a fresh pull down, i.e. I cloned the repo onto my pc and ran `npm i`, and that command did not succeed:
![image](https://cloud.githubusercontent.com/assets/1503131/23773038/78397302-04eb-11e7-97cc-cb447ed9d217.png)

[2017-03-09 22:14] dougludlow commented on #157
@Sean-Brown bummer, I'll have to give it a try here in a little while. My guess is I didn't lock down a dependency and it updated and broke whatever I was using it for.

[2017-03-09 22:16] dougludlow commented on #156
@Sean-Brown to be honest, I'm not real familiar with webpack. But I did have a working demo for it here: https://github.com/dougludlow/ng2-bs3-modal-demo-webpack

[2017-03-09 22:19] dougludlow commented on #156
Whoops, misread that. I have an angular-cli demo here: https://github.com/dougludlow/ng2-bs3-modal-demo-angular-cli

[2017-03-09 22:23] Sean-Brown commented on #156
Thanks I was following that example and I noticed that it does not have the error, so I'm doing something wrong. I'll update when I find out exactly what.

[2017-03-09 22:25] Sean-Brown commented on #157
I got around the build error by updating the @angular/compiler-cli dependency to "^2.0.0"

[2017-03-17 00:06] prabhurangan opened #158 "Running ng test on my application gives me System not defined"
Hi Team,

I am using ng2-bs3-modal for my application; when i tried to run ng test it throws me this error.  Appreciate your help on this.

Uncaught ReferenceError: System is not defined at node_modules/ng2-bs3-modal/bundles/ng2-bs3-modal.js:18

[2017-03-17 10:33] umesh190690 commented on #50
same problem is still getting

[2017-03-17 10:35] umesh190690 commented on #50
[code]

html is
[code]

[2017-03-18 05:42] umesh190690 commented on #50
got the Solution :)

[code]

need to instantiate after decorator

[2017-03-22 11:33] leighmillard opened #159 "Creating a global login modal that can be called from any other component"
Hi,

I have a project with the standard header, router-content, footer type setup.

I have a modal which contains a user login form but I need to be able to open this from buttons in the header and footer (as well as various other places). What is the best way to achieve this?

<app-header></app-header>
<main>
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>

Based on the abov

[2017-03-23 02:33] dougludlow commented on #159
@leighmillard probably just exposing the modal on a higher level component, such as your root component and maybe creating a service that has a handle on it to open and close it would work. I can't think of any other solutions off the top of my head right now...

[2017-03-24 16:48] amihailes opened #160 "Angular 4"
Hi,

Is it possible to have an Angular 4 based build?

Thanks in advance,

Adrian

[2017-03-24 16:49] dougludlow commented on #160
@amihailes ha ha, yes, it only came out last night, but I'm working on it.

[2017-03-24 18:40] brocktubre opened #161 "Closing any modal instances currently opened?"
I have multiple modal instances defined throughout multiple components within a single page.  Is there a way to close any modal instance that is currently opened?

I tried declaring a global `ModalComponent` in the `app.component.ts` file and use the `.close()` function. Something like:
[code]

[2017-03-26 22:18] amihailes commented on #160
Good news!

[2017-03-27 09:07] razzu opened #162 "this.$modal.modal is not a function"
Hello! I've been developing a feature for a project using ng2-bs3-modal, and when getting ready to merge to master I've run into this error when trying to open modals:

`TypeError: this.$modal.modal is not a function`
    `    at ModalInstance.show (modal-instance.js:37)`
    `    at ModalInstance.open (modal-instance.js:15)`
    `    at ModalComponent.open`

I've looked at some other similar issu

[2017-03-27 13:33] dougludlow commented on #162
This typically occurs if the bootstrap javascript is missing or hasn't been loaded before your modal code. Your html snippet above, is it from the head? Are you seeing any http errors in your dev tools (404, etc)?

[2017-03-27 13:39] dougludlow commented on #161
Not currently, no. But I'm working on an updated version and it will include this feature. In the mean time you can create your own service that tracks any modals you use and simply loops through them and calls dismiss when needed.

[2017-03-27 14:03] razzu commented on #162
All of this was from the head, yes.

I've done some more experimenting with the order of various scripts after I read your answer, and it appears that the problem was from some external libraries (related to an odoo module, im_livechat, that we're trying to interface with).

Apparently, having these two lines:
[code]

after loading the bootstrap javascript was what was causing the problems. I've b

[2017-03-27 14:03] #162 closed

[2017-03-27 14:11] dougludlow commented on #162
No problem, glad I could be of some help!

[2017-03-30 03:01] jharrys commented on #156
Sean-Brown - any luck? I followed the solution and also got the new ReferenceError.

[2017-03-30 12:38] Sean-Brown commented on #156
No I ended up using [ng2-bootstrap modal](https://valor-software.com/ng2-bootstrap/#/modals) since I already had that included in the project and [angular2-modal](https://github.com/shlomiassaf/angular2-modal) for other dynamic modals.

[2017-03-30 14:57] maximelafarie commented on #161
What you can do awaiting a such functionality is to store all your modal instances in a service and make a `closeAll()` function that iterates over your modal instances array and calls the `close()` method for each modal instance.

[2017-03-30 15:02] dougludlow commented on #156
@jharrys out of curiousity, what does your import statement look like?

[2017-03-30 15:05] dougludlow commented on #161
@maximelafarie that's how i'm implementing it 👍

[2017-03-30 17:07] jharrys commented on #156
@dougludlow I assume you mean my scripts entry in .angular-cli.json:
      "scripts": [
        "../node_modules/ag-grid/dist/ag-grid.min.js",
        "../node_modules/jquery/dist/jquery.js",
        "../node_modules/bootstrap/js/modal.js",
        "../node_modules/ng2-bs3-modal/ng2-bs3-modal.js",
        "../node_modules/materialize-css/dist/js/materialize.min.js"

did you mean something else?

[2017-03-30 17:09] dougludlow commented on #156
No, I mean the statement you use to import the Ng2Bs3ModalModule. Does it look like this:

[code]

[2017-03-30 17:10] dougludlow commented on #156
@jharrys also, you shouldn't have to include it in the scripts.

[2017-03-30 17:12] dougludlow commented on #156
@jharrys - take a look at the angular-cli.json from the sample project: https://github.com/dougludlow/ng2-bs3-modal-demo-angular-cli/blob/master/angular-cli.json#L24-L27

[2017-03-30 17:15] jharrys commented on #156
@dougludlow that's what I thought when looking at the sample project, but every time I remove it, the modal doesn't show (so I must be doing something wrong).

my import statements all are:
import { Ng2Bs3ModalModule } from 'ng2-bs3-modal/ng2-bs3-modal';

[2017-03-30 17:18] dougludlow commented on #156
@jharrys kk, just making sure it wasn't

[code]

I'll need to go back through the angular-cli demo and update it to use angular-cli@1, that might be the issue.

[2017-03-31 10:15] Rambuto commented on #105
Hello, do you have any progress about AoT ?

[2017-03-31 10:25] Rambuto opened #163 "AoT Compilation"
I have problem when do compilation for AoT

I get this error and can not find solution:

Unexpected value 'Ng2Bs3ModalModule in node_modules/ng2-bs3-modal/ng2-bs3-modal.d.ts' imported by the module 'AdminModule'

Do you have idea how fix this problem ?

[2017-03-31 14:37] #163 closed

[2017-03-31 14:38] Rambuto commented on #163
I'm find solution
Need change
this
`import { Ng2Bs3ModalModule } from 'ng2-bs3-modal/ng2-bs3-modal';`
to this
`import { Ng2Bs3ModalModule } from 'ng2-bs3-modal/src/ng2-bs3-modal/ng2-bs3-modal';`

[2017-03-31 14:38] Rambuto commented on #143
I'm find solution
Need change
this
`import { Ng2Bs3ModalModule } from 'ng2-bs3-modal/ng2-bs3-modal';`
to this
`import { Ng2Bs3ModalModule } from 'ng2-bs3-modal/src/ng2-bs3-modal/ng2-bs3-modal';`

Maybe this can help for some people :+1:

[2017-03-31 22:49] Bigless27 opened #164 "Ng2-bs3-modal with canDeactivate use without a promise?"
[code]

This is how I'm currently checking what the user selects to see whether I navigate away from the page or not. Is there a better way to do this without using a promise?

[2017-04-01 08:18] tuanmjnh opened #165 "Error: Uncaught (in promise): ReferenceError: jQuery is not defined"
Please help me!
I use angular 2 with asp.net core.
My Error:
**Exception: Call to Node module failed with error: Error: Uncaught (in promise): ReferenceError: jQuery is not defined
ReferenceError: jQuery is not defined
at ModalInstance.init (D:\Applications\Angular2CoreMVC2\ClientApp\dist\main-server.js:379:23)
at new ModalInstance (D:\Applications\Angular2CoreMVC2\ClientApp\dist\main-server.js:34

[2017-04-01 12:58] dougludlow commented on #164
@Bigless27 honestly, this is probably a better question for StackOverflow. This seems like the right approach to me. I can't think of a way to do it without a promise.

Maybe using router events? Catch NavigationStart or whatever, cancel it, but store the URL, then prompt and then navigate again if they confirm? Sounds pretty complicated. Not sure if it would even work.

[2017-04-02 04:32] #159 closed

[2017-04-02 04:33] dougludlow commented on #165
How are you including the modal in your project? What build tools are you using?

[2017-04-02 04:34] #164 closed

[2017-04-02 15:30] miliu99 opened #166 "Got tons of errors?"
Just installed the latest version in my webpack project using Angular@2.0.0, npm start throws a lot of errors like:

[code]
Any quick fix? Should I get an earlier version? if so, which one?

[2017-04-02 15:35] dougludlow commented on #166
@miliu99 what version of typescript are you using?

[2017-04-03 17:47] brocktubre commented on #161
We implemented a workaround to pass the currently opened "modal name" to our service component, store that info, and close that specific modal instance when needed (the assumption is only one modal is open at a time). The only downside is we must keep naming convention consistent when creating the modal html.

[code]

and in our `modal-open.directive`

[code]

Now we can call `this.modalService.mo

[2017-04-03 17:47] #161 closed

[2017-04-07 11:21] Ankita-Jaiswal commented on #34
Install jquery and bootstrap in your project

npm install jquery
npm install bootstrap

then import both in the file (for eg model-view.component.ts) where you are using this modal
import 'jquery';
import 'bootstrap';

For me this worked flawlessly :)

[2017-04-07 11:21] Ankita-Jaiswal commented on #52
Install jquery and bootstrap in your project

npm install jquery
npm install bootstrap

then import both in the file (for eg model-view.component.ts) where you are using this modal
import 'jquery';
import 'bootstrap';

For me this worked flawlessly :)

[2017-04-07 11:23] Ankita-Jaiswal commented on #162
Better solution will be

Install jquery and bootstrap in your project

npm install jquery
npm install bootstrap

then import both in the file (for eg model-view.component.ts) where you are using this modal
import 'jquery';
import 'bootstrap';

For me this worked flawlessly :)

[2017-04-07 11:25] Ankita-Jaiswal commented on #116
Install jquery and bootstrap in your project

npm install jquery
npm install bootstrap

then import both in the file (for eg model-view.component.ts) where you are using this modal
import 'jquery';
import 'bootstrap';

For me this worked flawlessly :)

[2017-04-07 14:29] ApoorvBarwa commented on #151
Hi ... i am running Angular 2 with the following configuration...

@angular/cli: 1.0.0
node: 6.10.0
os: win32 x64
@angular/common: 2.2.1
@angular/compiler: 2.2.1
@angular/core: 2.2.1
@angular/forms: 2.2.1
@angular/http: 2.2.1
@angular/platform-browser: 2.2.1
@angular/platform-browser-dynamic: 2.2.1
@angular/router: 3.2.1
@angular/compiler-cli: 2.2.1

i have installed the package mentioned by you a

[2017-04-07 14:57] Rameshvenkat opened #168 "(index):37 Error: core_1.Input is not a function Evaluating http://localhost:3000/ng2-bs3-modal/components/modal Evaluating http://localhost:3000/ng2-bs3-modal/ng2-bs3-modal Evaluating http://localhost:3000/app/app.module.js Evaluating http://localhost:3000/app/main.js"
Hi I am getting below error message in browser when i import the ng2-bs3-modal in app.module.ts file.
can you help me why would this happen?

(index):37 Error: core_1.Input is not a function
  Evaluating http://localhost:3000/ng2-bs3-modal/components/modal
  Evaluating http://localhost:3000/ng2-bs3-modal/ng2-bs3-modal
  Evaluating http://localhost:3000/app/app.module.js
  Evaluating http://localho

[2017-04-07 16:41] Bigless27 commented on #164
@dougludlow Thank you for your response!

[2017-04-09 02:42] MehranJanfeshan commented on #73
Any update on this? @dougludlow

[2017-04-10 13:27] ChadiEM commented on #160
It's perhaps the opportunity to rename the project to something like angular-bs3-modal. With Angular 4, Google is suggesting to remove the Angular version from the libraries.

[2017-04-11 02:31] Christian-Yang opened #169 "is ng2-bs3-modal now supports angular 4 ?"
if  support  ,how to update ?

thanks very much !

[2017-04-12 10:32] assaulter commented on #160
oh, ng2-bootstrap was renamed to ngx-bootstrap.

[2017-04-12 11:26] hassan-ahmed opened #170 "Parent Modal doesn't scroll after child modal closed"
So,

I have a parent modal having height > window height, everything works fine.
Now I open another child modal within this parent modal, and when I close this child modal the parent doesn't scroll anymore.

Any Angular 2 specific solution to this ?

jQuery solution ref: http://stackoverflow.com/questions/37153278/bootstrap-modal-doesnt-scroll-after-child-modal-closed

[2017-04-13 15:27] grichards23 opened #171 "Override modal-content styles"
I've successfully overridden styles for modal-body and modal-header where needed, however, the same approach doesn't appear to work for modal-content.

I have a need to make the background transparent, hide the borders/box shadow defaults of the bootstrap modal.

I've hacked these styles in manually via google developer tools and they work as expected, however when I create a class and specify a c

[2017-04-13 17:11] grichards23 commented on #171
Nevermind, for testing purposes I was adding the style block directly into my component just above the modal element.

When I move the class/styles out to the site's style sheet, it worked as expected.

[2017-04-13 17:11] #171 closed

[2017-04-13 17:39] dougludlow commented on #171
Cool, glad you got it figured out.

[2017-04-14 00:26] vernjensen opened #172 "Demos out of date"
The SystemJS demo is out of date. (Uses old style MODAL_DIRECTIVES import.)  The NPM demo however does use the new Ng2Bs3ModalModule module. I did not try the other demos. All should be updated to use Ng2Bs3ModalModule.

[2017-04-14 13:48] SELKHENIFER opened #173 "call modal.open() inside another function ?"
Hi,
How can I use 'modal.open()' inside another function, I dont want to call it direclty on button click, but after the fucntion executes!

Can anyone help please?

[2017-04-18 14:17] fxcosta commented on #57
I do not know if this is the best way to solve it, but in my case it worked something similar to this:

[code]

On onClose and onDismiss events in a component method.

[2017-04-18 15:06] grichards23 commented on #160
I just tried upgrading my project to angular 4, before doing so I made sure to have the latest ng2-b3-modal component.

npm is throwing peer dependency warnings that ng2-bs3-modal@0.10.4 requires angular ^2.0.0 versions.

Can I safely ignore these?

[2017-04-18 15:29] dougludlow commented on #160
@grichards23 - I believe you can. I'm working on trying to get an Angular v4 version out, just haven't had a whole lot of time lately.

[2017-04-18 16:48] wartab commented on #160
@grichards23 I have no trouble besides the peer dependencies not meeting the requirements. It works perfectly fine!

[2017-04-18 16:58] wartab commented on #143
I would like to share my findings that I made over the past months and everything described above is not required if you are following Angular's tutorial on using AOT + Rollup.

All you need to do is import the module as described in this doc.
For Rollup, this config works for me using the Rollup common-js plugin.

[code]

[2017-04-19 17:59] ColeBeckwith commented on #173
Not sure about calling it from within a component function, but you can try:

`(click)="firstFunction(); modal.open()"`

[2017-04-19 19:08] dougludlow commented on #173
@SELKHENIFER - sorry I missed this somehow. Please check out the example in the readme:

https://github.com/dougludlow/ng2-bs3-modal#opening-and-closing-the-modal-from-a-parent-component

[2017-04-19 19:09] dougludlow commented on #172
@vernjensen - thanks. I'll work on getting those updated soon! Any help is appreciated.

[2017-04-19 19:10] dougludlow commented on #169
Closing as a duplicate of https://github.com/dougludlow/ng2-bs3-modal/issues/160.

[2017-04-19 19:10] #169 closed

[2017-04-19 22:34] angular2fan opened #174 "Modal not getting dismissed."
Modal not getting dismissed.

tried debugging the code and in the below function in modal-instance.ts file, promise is not defined is the message I am seeing.

[code]

How am i calling the code??
//modal is a differnt modal window in which I have a form and I do something in that form and then make a http call. when the http call is in flight, I want to display the please wait in a modal window(lo

[2017-04-20 07:02] wartab commented on #174
Where are you seeing this message? Upon compilation at runtime? In any case, this seems more like a dependency configuration issue on your side.

[2017-04-20 12:30] angular2fan commented on #174
hmmm, my application is not making use of AOT yet and is using systemjs.
I am debugging the application to see why the modal is not getting dismissed and then i am seeing this message. Thanks

[2017-04-20 16:46] angular2fan commented on #174
just an update. I spent some more time debugging and I noticed that the dismiss behavior in this case is little strange because it is working sometimes and failing sometimes but whenever it is failing I saw that Line 56 in modal-instance.ts [let promise = toPromise(this.hidden);] is not even getting executed in my case. Why is the toPromise function not even getting called? I am seeing this behavi

[2017-04-20 20:54] angular2fan commented on #174
finally, I am able to figure it out. I need to wait till the Modal is opened (wait for the promise to be resolved) before I call the dismiss() on the same modal.  Thanks so much.

[2017-04-20 20:54] #174 closed

[2017-04-23 07:01] AnsarSamad opened #175 "Model not fade in"
![image](https://cloud.githubusercontent.com/assets/21130011/25311535/0b1b5746-2821-11e7-869d-d258e291d644.png)

@angular/cli: 1.0.0
@angular/core: 4.0.2
npm ng2-bs3-model -version  : 3.10.10

[2017-04-25 07:34] nguni52 commented on #34
@Ankita-Jaiswal That helped me immensely! Thanks. :-)

[2017-04-25 07:37] wartab commented on #34
@StephenLujan I recommend installing @types/jquery to avoid those warnings.

[2017-04-26 11:22] sheetaldshivdas opened #176 "Not working with angular 4"

[2017-04-26 12:51] VikrantGodse commented on #154
This Works for me perfectly.It prevents background-scroll
body.modal-open {
overflow: visible;
}

[2017-04-26 15:14] iamthechad commented on #128
I'm seeing this too with 0.10.4. I was able to replicate on Chrome and Firefox (both on Mac).

[2017-04-26 19:04] wartab commented on #176
It does.

[2017-04-28 10:48] vaidd4 opened #177 "ERROR in Ng2Bs3ModalModule is not an NgModule - angular cli, angular 4"
I'm on an **angular-cli** project with Angular 4.
Running `ng serve` gives this error :
[code]
in `package.json`
[code]
in `app.module.ts`
[code]

[2017-04-28 10:49] vaidd4 commented on #177
After some research I found this :
It might be related with AOT compilation.

See this issue https://github.com/angular/angular-cli/issues/3426

And may be the comments below, in this issue : angular/angular#11262
https://github.com/angular/angular/issues/11262#issuecomment-244472000
https://github.com/angular/angular/issues/11262#issuecomment-244489405

This might help : https://angular.io/docs/t

[2017-04-28 11:13] wartab commented on #177
You might find a work around in #143 that works for you.

[2017-04-28 13:23] vaidd4 commented on #177
If I launch `ng serve` a first time and then I modify any file, webpack will recompile and will not give the error.

With https://github.com/dougludlow/ng2-bs3-modal/issues/143#issuecomment-277515953, it gives me the same error (`is not a NgModule`).

With https://github.com/dougludlow/ng2-bs3-modal/issues/143#issuecomment-290730273 I get this error :
[code]
And if I try to correct the line in `/m

[2017-04-28 13:46] vaidd4 commented on #177
Wow, I don't know why I didn't checked that before but the last version of `ng2-bs3-modal` is **0.10.4** and I was using **0.8.1**

Updating the version resolved it...

[2017-04-28 13:46] #177 closed

[2017-04-28 13:48] wartab commented on #177
Can happen :) Glad you got it figured out. If I remember well, I had the same issue with that error message as well.

[2017-05-01 20:05] angular2newb opened #178 "How to return value from modal?"
I am using the angular2 CanDeactivate gaurd to display a custom modal to user and get a boolean response though the modal. I have my code like below in the parent component and get an undefined error on "dialog" since its not recognized here. I just want the modal to return "true" to the parent component if OK is clicked or "false" if cancel is clicked.

public canDeactivate(): Promise<boolean> |

[2017-05-02 14:43] angular2newb commented on #178
I found my solution in this closed issue. Thanks

https://github.com/dougludlow/ng2-bs3-modal/issues/164

[2017-05-10 03:25] rcmedeiros commented on #80
I don't know if there's an official way but I found this:
`
<modal (onClose)="handleClose()" #myModal>
			<form #myForm="ngForm">`
...
`@ViewChild('myForm') public myForm: NgForm;`
...
`  handleClose() {`
`// do my things`
 `this.myForm.reset();`
`  }`

[2017-05-11 16:19] atalis commented on #145
The two functions are completely unrelated.  Dismissing a dialog on Esc is a universal approach.  The user has to take an explicit action, just like clicking the Cancel button.

However, whether or not a dialog is closed when the user clicks outside of it is dictated by a business case.  For forms in dialogs, a lot of the time, it is not desirable for the dialog to go away if the user clicks outsi

[2017-05-11 20:09] katipallirajitha opened #180 "[keyboard]="false" is not working, Esc key still closes the modal."

[2017-05-11 20:10] #180 closed

[2017-05-11 20:39] ranjik2909 opened #181 "Having problems with the default tabIndex=-1 in chrome, firefox, IE"
I am trying to open a modal on loading an angular component. If I hit esc immediately after the modal is opened, it closes even when the keyboard property is set to false. So, by researching a little I found out that the default tabIndex on the modal was -1. I tried assigning [attr.tabIndex]="null". By doing that, I was able to keep the modal static after hitting the esc key. But, it only works in

[2017-05-12 07:58] wartab commented on #80
@rcmedeiros That's perfectly valid.

[2017-05-16 05:01] arun-awnics commented on #176
It works with angular4.

[2017-05-16 05:12] arun-awnics commented on #160
Hey @dougludlow Can you please upgrade the repo to support angular4 and bs4? I am using ng2-bs3-modal in my project which uses angular4. I am planning on upgrading my project to BS4. So it will be better if ng2-bs3-modal supports all the dependencies. Thank you in advance.

[2017-05-16 07:00] sheetaldshivdas commented on #176
Yes Please ignore!!!

[2017-05-16 07:00] #176 closed

[2017-05-16 07:43] wartab commented on #176
Nobody is ignoring you, if you do not give more details than "Not working", nobody can nor wants to help you.

[2017-05-16 08:37] sheetaldshivdas commented on #176
Lol you got me wrong!!! I meant to say it worked for me and ignore my issue not me hehe...

[2017-05-16 08:42] wartab commented on #176
All good then, glad you got it figured out!

[2017-05-17 03:06] arun-awnics commented on #175
@AnsarSamad Can you share your code snippet where you are facing this issue or create a plunk?

[2017-05-18 00:09] nicollaas94 opened #182 "this.$modal.modal is not a function"
Hi

On modal-instance.js Line 37, the function is trying to do a modal() in an array

`this.$modal.modal();`
the $modal is an array

the exception:
[code]

[2017-05-18 07:39] wartab commented on #182
$modal cannot be an array, it is always supposed to be an instance of jQuery. Can you show your code?

[2017-05-18 20:20] kmansoor commented on #9
What if one is using webpack instead? Running into this error while using webpack with Angular2.

[2017-05-23 05:38] bob1457 commented on #50
I encountered this issue when I tried to close/dismiss the modal. (I am using angular cli)
I have a component of product-ezq.components, the modal is in the html:
<modal #modal1>
   <form (ngSubmit)="onSubmit()">
      <input>....
      <button type="submit"></button>
     <button (click)="resetForm()" type="cancel" data-dismiss="modal" >Cancel</button>
   </form>
</modal>,
(a form is inside the m

[2017-05-23 05:46] bob1457 commented on #50
I also tried to create a separate component for the form, just load it inside <modal></modal>, and in this component ts file, implement onSubmit function to make a http call and close the modal. Here, not child view, right, just inside the modal component to try to close it. The same error, "dismiss not defined". I guess it might be I did not load the library properly?

[2017-05-23 12:20] nicollaas94 commented on #182
I followed the angular-cli sample, more specific, I was trying to implement this [page](https://github.com/dougludlow/ng2-bs3-modal-demo-angular-cli/blob/master/src/app/app.component.html)

[2017-05-24 18:34] bob1457 opened #183 "ERROR TypeError: Cannot read property 'dismiss' of undefined"
I have a modal dialog with a form and am trying to close/dismiss the modal dialog in its component ts file after submitting the form. But I got error of "Cannot read property 'dismiss' of undefined", and modal was not closed.

Here is my code:

request-form.component.ts:
[code]

Although I read the previous postings on this issue, I still cannot get it work. My understanding here is not closing it

[2017-05-24 21:40] dougludlow commented on #183
@bob1457 you're close, compare with https://github.com/dougludlow/ng2-bs3-modal#opening-and-closing-the-modal-from-a-parent-component

You're missing the following annotation on the `modal` property:
[code]

Where `myModal` is the template variable on the modal in the template.

Let me know if that makes sense.

[2017-05-24 21:42] dougludlow commented on #182
@nicollaas94 could you post more code samples. It's hard to troubleshoot without more information.

[2017-05-24 21:44] #178 closed

[2017-05-24 22:17] bob1457 commented on #183
Thanks.
The question is my modal dialog is in a component, the code to close it is in the component.ts file, is this still the parent/child relation?

Even I put @ViewChild, I still have the error.

I also tried moving the form in the modal component to the parent component, and close the dialog from parent component.ts file. Same error. I must have missing something else?

[2017-05-24 22:41] dougludlow commented on #183
@bob1457 can you show a little more of your code. Kinda hard to shoot in the dark. 🔫 🌔

[2017-05-25 07:10] bob1457 commented on #183
Here are the code attached:

The parent component is product-ezq.component.ts, and the modal is inside product-ezq.component.html.
bootstrap and jquery loaded using cdn in index.html.

Thanks. By the way, I am using VS Code, when debugging the code, it seems the problem was in bootstrap script, maybe the version of it matters?

Not sure I pasted the code properly, but I drop you a file with the co

[2017-05-29 18:39] bob1457 commented on #183
No worries, I got it work. probably the loading sequence matters.

Thanks a lot for that.

[2017-05-29 18:39] #183 closed

[2017-06-09 08:22] jdushi opened #184 "How to redirect after clicking "OK" button?"
i tried this way
close() {
    this.modal.close();
    this.router.navigate(['welcome']);
  }

but it did not work

[2017-06-09 12:50] alissonschneiderr commented on #158
Hi, I have the same error.

`Uncaught ReferenceError: System is not defined
    at eval (eval at webpackJsonp../node_modules/script-loader/addScript.js.module.exports (addScript.js:9), <anonymous>:18:1)
    at eval (<anonymous>)
    at webpackJsonp../node_modules/script-loader/addScript.js.module.exports (addScript.js:9)
    at Object../node_modules/script-loader/index.js!./node_modules/ng2-bs3-mo